.aui-cs-button-link_add {
  position: relative;
  padding-left: var(--indent-m);
}

.aui-cs-button-link_add::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: var(--indent-xs);
  transform: translateY(-50%);
  -webkit-mask-image: url('./cs-button-link_add.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('./cs-button-link_add.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--light-blue-dark);
}
