.aui-cs-button-link_password {
  position: relative;
  padding-right: var(--indent-m);
}

.aui-cs-button-link_password::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 12px;
  top: 50%;
  right: var(--indent-s);
  transform: translateY(-50%);
  -webkit-mask-image: url('./cs-button-link_password.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('./cs-button-link_password.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--light-blue-dark);
}
