.aui-cs-button-link {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  color: var(--light-blue-dark);
  border: none;
  cursor: pointer;
  padding: 0 var(--indent-xs);
  border-radius: 2px;
}

.aui-cs-button-link,
.aui-cs-button-link:link,
.aui-cs-button-link:visited,
.aui-cs-button-link:hover,
.aui-cs-button-link:active {
  text-decoration: none;
  background-color: var(--medium-gray);
}
