.aui-link_phone {
  margin-left: var(--indent-m);
  position: relative;
  font-weight: 600;
  white-space: nowrap;
}

.aui-link_phone:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -9px;
  margin-right: 9px;
  width: 14px;
  height: 15px;
  -webkit-mask-image: url('./link_phone.svg');
  mask-image: url('./link_phone.svg');
}
