.aui-link_callback {
  padding-left: var(--indent-m);
  position: relative;
}

.aui-link_callback:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  width: 13px;
  height: 16px;
  -webkit-mask-image: url('./link_callback.svg');
  mask-image: url('./link_callback.svg');
}
