.aui-admin-battery {
  width: 144px;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px 0px;
  background-color: var(--admin-white);
}

.aui-admin-battery__content {
  box-sizing: border-box;
}

.aui-admin-battery__arrow {
  width: 24px;
  min-width: 24px;
  cursor: pointer;
  position: relative;
}

.aui-admin-battery__arrow::before {
  background: url('./aui-admin-battery__arrow.svg') center no-repeat;
  width: 8px;
  height: 24px;
  content: '';
  display: block;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  padding: 0 8px;
}

.aui-admin-battery__arrow_closed {
  transform: rotate(180deg);
}

.aui-admin-battery__battery {
  height: 34px;
  width: 62px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid var(--admin-battery-grey);
  border-radius: 6px;
  position: relative;
  align-items: flex-start;
  margin-top: 12px;
  padding: 2px;
}

.aui-admin-battery__battery::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 58px;
  height: 16px;
  width: 5px;
  background-color: var(--admin-battery-dusky-azure);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  transform: translateY(-50%);
}

.aui-admin-battery__fill {
  height: 100%;
  background-color: var(--admin-battery-fill);
  border-radius: 3px;
  box-sizing: border-box;
}

.aui-admin-battery__percent {
  color: var(--admin-blue);
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.aui-admin-battery__conditions {
  font-size: 14px;
  color: var(--admin-battery-dusky-azure);
  line-height: 21px;
  margin-top: 12px;
}

.aui-admin-battery__condition {
  display: flex;
  margin-bottom: 6px;
}

.aui-admin-battery__condition-text {
  word-spacing: unset;
  display: table-caption;
}

.aui-admin-battery__contition-percent {
  white-space: nowrap;
  font-weight: bold;
}

.aui-admin-battery__contition-percent_one-sign {
  margin-right: 12px;
}

.aui-admin-battery__contition-percent_two-signs {
  margin-right: 4px;
}

.aui-admin-battery__link {
  color: var(--admin-blue);
  font-size: 12px;
  line-height: 18px;
  position: relative;
  padding-left: 15px;
  margin-bottom: 6px;
  cursor: pointer;
}
.aui-admin-battery__link::before {
  content: url('./aui-admin-battery__link.svg');
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 0;
}

@media (max-width: 767px) {
  .aui-admin-battery {
    width: 95px;
  }
  .aui-admin-battery__title {
    display: none;
  }
  .aui-admin-battery__conditions {
    margin-top: 6px;
    font-size: 12px;
    line-height: 16px;
  }
  .aui-admin-battery__condition {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .aui-admin-battery__link {
    display: none;
  }
  .aui-admin-battery__arrow {
    width: 18px;
    min-width: 18px;
  }
  .aui-admin-battery__arrow::before {
    width: 6px;
    height: 18px;
    background-size: 90%;
    margin: 0 6px;
    padding: unset;
  }
}
