.aui-admin-related-products {
  width: 100%;
  max-width: 700px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.aui-admin-related-products:last-child {
  margin-bottom: 0;
}

.aui-admin-related-products__left {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.aui-admin-related-products__image-block {
  min-width: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 3px;
}

.aui-admin-related-products__image {
  max-width: 100%;
  max-height: 100%;
}

.aui-admin-related-products__text-link {
  font-size: 14px;
  line-height: 21px;
  color: var(--admin-blue);
}

.aui-admin-related-products__button {
  box-sizing: border-box;
  padding: 6px 24px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.aui-admin-related-products__button_active {
  background-color: var(--admin-white);
  border: 1px var(--admin-blue) solid;
  color: var(--admin-blue);
  cursor: pointer;
}
.aui-admin-related-products__button_active:hover {
  background-color: var(--admin-blue);
  color: var(--admin-white);
}

.aui-admin-related-products__button_disabled {
  background-color: var(--admin-white);
  border: 1px var(--admin-default-grey) solid;
  color: var(--admin-default-grey);
}

.aui-admin-related-products__button_remove {
  background-color: var(--admin-white);
  border: 1px var(--admin-dim-red) solid;
  color: var(--admin-dim-red);
  cursor: pointer;
}
.aui-admin-related-products__button_remove:hover {
  background-color: var(--admin-dim-red);
  color: var(--admin-white);
}

@media all and (max-width: 767px) {
  .aui-admin-related-products {
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .aui-admin-related-products__left {
    margin-bottom: 24px;
    margin-right: 0;
  }

  .aui-admin-related-products__text {
    max-width: 100%;
  }

  .aui-admin-related-products__button {
    width: 100%;
  }
}
