.aui-link {
  color: var(--blue);
  text-decoration: none;
  font: inherit;
}

.aui-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (hover:none) {
  .aui-link:hover {
    text-decoration: none;
  }
}
