:root {
  --default-font-size: 16px;
  --default-font-family: Arial, sans-serif;

  --h1-maximum: normal calc(2 * var(--default-font-size))/calc(3 * var(--default-font-size)) var(--default-font-family);
  --h1-optimal: normal calc(2 * var(--default-font-size))/calc(2.5 * var(--default-font-size)) var(--default-font-family);
  --h1-minimum: normal calc(2 * var(--default-font-size))/calc(2.25 * var(--default-font-size)) var(--default-font-family);

  --h2-maximum: normal calc(1.5 * var(--default-font-size))/calc(2.25 * var(--default-font-size)) var(--default-font-family);
  --h2-optimal: normal calc(1.5 * var(--default-font-size))/calc(2 * var(--default-font-size)) var(--default-font-family);
  --h2-minimum: normal calc(1.5 * var(--default-font-size))/calc(1.75 * var(--default-font-size)) var(--default-font-family);

  --h3-maximum: normal calc(1.375 * var(--default-font-size))/calc(2 * var(--default-font-size)) var(--default-font-family);
  --h3-optimal: normal calc(1.375 * var(--default-font-size))/calc(1.625 * var(--default-font-size)) var(--default-font-family);
  --h3-minimum: normal calc(1.375 * var(--default-font-size))/calc(1.5 * var(--default-font-size)) var(--default-font-family);

  --h4-maximum: normal calc(1.125 * var(--default-font-size))/calc(1.625 * var(--default-font-size)) var(--default-font-family);
  --h4-optimal: normal calc(1.125 * var(--default-font-size))/calc(1.5 * var(--default-font-size)) var(--default-font-family);
  --h4-minimum: normal calc(1.125 * var(--default-font-size))/calc(1.25 * var(--default-font-size)) var(--default-font-family);

  --h5-maximum: bold calc(1 * var(--default-font-size))/calc(1.5 * var(--default-font-size)) var(--default-font-family);
  --h5-optimal: bold calc(1 * var(--default-font-size))/calc(1.25 * var(--default-font-size)) var(--default-font-family);
  --h5-minimum: bold calc(1 * var(--default-font-size))/calc(1.125 * var(--default-font-size)) var(--default-font-family);

  --h6-maximum: bold calc(.875 * var(--default-font-size))/calc(1.25 * var(--default-font-size)) var(--default-font-family);
  --h6-optimal: bold calc(.875 * var(--default-font-size))/calc(1.125 * var(--default-font-size)) var(--default-font-family);
  --h6-minimum: bold calc(.875 * var(--default-font-size))/calc(1 * var(--default-font-size)) var(--default-font-family);

  --body1-maximum: normal calc(1 * var(--default-font-size))/calc(1.5 * var(--default-font-size)) var(--default-font-family);
  --body1-optimal: normal calc(1 * var(--default-font-size))/calc(1.25 * var(--default-font-size)) var(--default-font-family);
  --body1-minimum: normal calc(1 * var(--default-font-size))/calc(1.125 * var(--default-font-size)) var(--default-font-family);

  --body2-maximum: normal calc(.875 * var(--default-font-size))/calc(1.25 * var(--default-font-size)) var(--default-font-family);
  --body2-optimal: normal calc(.875 * var(--default-font-size))/calc(1.125 * var(--default-font-size)) var(--default-font-family);
  --body2-minimum: normal calc(.875 * var(--default-font-size))/calc(1 * var(--default-font-size)) var(--default-font-family);

  --body3-maximum: normal calc(.75 * var(--default-font-size))/calc(1 * var(--default-font-size)) var(--default-font-family);
  --body3-optimal: normal calc(.75 * var(--default-font-size))/calc(.875 * var(--default-font-size)) var(--default-font-family);
  --body3-minimum: normal calc(.75 * var(--default-font-size))/calc(.75 * var(--default-font-size)) var(--default-font-family);

  --caption1-maximum: normal calc(.875 * var(--default-font-size))/calc(1.25 * var(--default-font-size)) var(--default-font-family);
  --caption1-optimal: normal calc(.875 * var(--default-font-size))/calc(1.125 * var(--default-font-size)) var(--default-font-family);
  --caption1-minimum: normal calc(.875 * var(--default-font-size))/calc(1 * var(--default-font-size)) var(--default-font-family);

  --caption2-maximum: italic calc(.875 * var(--default-font-size))/calc(1.25 * var(--default-font-size)) var(--default-font-family);
  --caption2-optimal: italic calc(.875 * var(--default-font-size))/calc(1.125 * var(--default-font-size)) var(--default-font-family);
  --caption2-minimum: italic calc(.875 * var(--default-font-size))/calc(1 * var(--default-font-size)) var(--default-font-family);

  --caption3-maximum: normal calc(.8125 * var(--default-font-size))/calc(1.0625 * var(--default-font-size)) var(--default-font-family);
  --caption3-optimal: normal calc(.8125 * var(--default-font-size))/calc(.9375 * var(--default-font-size)) var(--default-font-family);
  --caption3-minimum: normal calc(.8125 * var(--default-font-size))/calc(.8125 * var(--default-font-size)) var(--default-font-family);
  
  --caption3-bold-maximum: bold calc(.8125 * var(--default-font-size))/calc(1.0625 * var(--default-font-size)) var(--default-font-family);
  --caption3-bold-optimal: bold calc(.8125 * var(--default-font-size))/calc(.9375 * var(--default-font-size)) var(--default-font-family);
  --caption3-bold-minimum: bold calc(.8125 * var(--default-font-size))/calc(.8125 * var(--default-font-size)) var(--default-font-family);

  --caption4-maximum: normal calc(.6875 * var(--default-font-size))/calc(.9375 * var(--default-font-size)) var(--default-font-family);
  --caption4-optimal: normal calc(.6875 * var(--default-font-size))/calc(.8125 * var(--default-font-size)) var(--default-font-family);
  --caption4-minimum: normal calc(.6875 * var(--default-font-size))/calc(.6875 * var(--default-font-size)) var(--default-font-family);

  --display1: normal calc(2.625 * var(--default-font-size))/calc(3 * var(--default-font-size)) var(--default-font-family);
  --display2: normal calc(2.25 * var(--default-font-size))/calc(2.625 * var(--default-font-size)) var(--default-font-family);

  --display2-bold: bold calc(2.25 * var(--default-font-size))/calc(2.625 * var(--default-font-size)) var(--default-font-family);
}
