@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url(./woff2/roboto.woff2) format('woff2'),
    url(./woff/roboto.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url(./woff2/open-sans.woff2) format('woff2'),
    url(./woff/open-sans.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url(./woff2/montserrat.woff2) format('woff2'),
    url(./woff/montserrat.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url(./woff2/roboto-condensed.woff2) format('woff2'),
    url(./woff/roboto-condensed.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url(./woff2/source-sans-pro.woff2) format('woff2'),
    url(./woff/source-sans-pro.woff) format('woff');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(./woff2/oswald.woff2) format('woff2'),
    url(./woff/oswald.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url(./woff2/roboto-mono.woff2) format('woff2'),
    url(./woff/roboto-mono.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
    url(./woff2/roboto-slab.woff2) format('woff2'),
    url(./woff/roboto-slab.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url(./woff2/merriweather.woff2) format('woff2'),
    url(./woff/merriweather.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
    url(./woff2/noto-sans.woff2) format('woff2'),
    url(./woff/noto-sans.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
    url(./woff2/pt-sans.woff2) format('woff2'),
    url(./woff/pt-sans.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url(./woff2/ubuntu.woff2) format('woff2'),
    url(./woff/ubuntu.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
    url(./woff2/playfair-display.woff2) format('woff2'),
    url(./woff/playfair-display.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'),
    url(./woff2/pt-serif.woff2) format('woff2'),
    url(./woff/pt-serif.woff) format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'),
    url(./woff2/lora.woff2) format('woff2'),
    url(./woff/lora.woff) format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url(./woff2/fira-sans.woff2) format('woff2'),
    url(./woff/fira-sans.woff) format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
    url(./woff2/rubik.woff2) format('woff2'),
    url(./woff/rubik.woff) format('woff');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'),
    url(./woff2/noto-serif.woff2) format('woff2'),
    url(./woff/noto-serif.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
    url(./woff2/pt-sans-narrow.woff2) format('woff2'),
    url(./woff/pt-sans-narrow.woff) format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo Regular'), local('Arimo-Regular'),
    url(./woff2/arimo.woff2) format('woff2'),
    url(./woff/arimo.woff) format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
    url(./woff2/source-code-pro.woff2) format('woff2'),
    url(./woff/source-code-pro.woff) format('woff');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'),
    url(./woff2/lobster.woff2) format('woff2'),
    url(./woff/lobster.woff) format('woff');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(./woff2/pacifico.woff2) format('woff2'),
    url(./woff/pacifico.woff) format('woff');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2 Regular'), local('Exo2-Regular'),
    url(./woff2/exo-2.woff2) format('woff2'),
    url(./woff/exo-2.woff) format('woff');
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),
    url(./woff2/yanone-kaffeesatz.woff2) format('woff2'),
    url(./woff/yanone-kaffeesatz.woff) format('woff');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
    url(./woff2/eb-garamond.woff2) format('woff2'),
    url(./woff/eb-garamond.woff) format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
    url(./woff2/ibm-plex-sans.woff2) format('woff2'),
    url(./woff/ibm-plex-sans.woff) format('woff');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url(./woff2/comfortaa.woff2) format('woff2'),
    url(./woff/comfortaa.woff) format('woff');
}

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'),
    url(./woff2/amatic-sc.woff2) format('woff2'),
    url(./woff/amatic-sc.woff) format('woff');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Condensed Regular'), local('FiraSansCondensed-Regular'),
    url(./woff2/fira-sans-condensed.woff2) format('woff2'),
    url(./woff/fira-sans-condensed.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
    url(./woff2/ubuntu-condensed.woff2) format('woff2'),
    url(./woff/ubuntu-condensed.woff) format('woff');
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play Regular'), local('Play-Regular'),
    url(./woff2/play.woff2) format('woff2'),
    url(./woff/play.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Caption'), local('PTSans-Caption'),
    url(./woff2/pt-sans-caption.woff2) format('woff2'),
    url(./woff/pt-sans-caption.woff) format('woff');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'),
    url(./woff2/vollkorn.woff2) format('woff2'),
    url(./woff/vollkorn.woff) format('woff');
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans SC Regular'), local('NotoSansSC-Regular'),
    url(./woff2/noto-sans-sc.woff2) format('woff2'),
    url(./woff/noto-sans-sc.woff) format('woff');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Garamond Regular'), local('CormorantGaramond-Regular'),
    url(./woff2/cormorant-garamond.woff2) format('woff2'),
    url(./woff/cormorant-garamond.woff) format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
    url(./woff2/cuprum.woff2) format('woff2'),
    url(./woff/cuprum.woff) format('woff');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: local('Caveat Regular'), local('Caveat-Regular'),
    url(./woff2/caveat.woff2) format('woff2'),
    url(./woff/caveat.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
    url(./woff2/alegreya-sans.woff2) format('woff2'),
    url(./woff/alegreya-sans.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), local('Alegreya-Regular'),
    url(./woff2/alegreya.woff2) format('woff2'),
    url(./woff/alegreya.woff) format('woff');
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Extra Condensed Regular'), local('FiraSansExtraCondensed-Regular'),
    url(./woff2/fira-sans-extra-condensed.woff2) format('woff2'),
    url(./woff/fira-sans-extra-condensed.woff) format('woff');
}

@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos Regular'), local('Tinos-Regular'),
    url(./woff2/tinos.woff2) format('woff2'),
    url(./woff/tinos.woff) format('woff');
}

@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'),
    url(./woff2/old-standard-tt.woff2) format('woff2'),
    url(./woff/old-standard-tt.woff) format('woff');
}

@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'),
    url(./woff2/istok-web.woff2) format('woff2'),
    url(./woff/istok-web.woff) format('woff');
}

@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'),
    url(./woff2/didact-gothic.woff2) format('woff2'),
    url(./woff/didact-gothic.woff) format('woff');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Serif'), local('IBMPlexSerif'),
    url(./woff2/ibm-plex-serif.woff2) format('woff2'),
    url(./woff/ibm-plex-serif.woff) format('woff');
}

@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS 1p'), local('MPLUS1p-Regular'),
    url(./woff2/m-plus-1p.woff2) format('woff2'),
    url(./woff/m-plus-1p.woff) format('woff');
}

@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'),
    url(./woff2/poiret-one.woff2) format('woff2'),
    url(./woff/poiret-one.woff) format('woff');
}

@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'),
    url(./woff2/playfair-display-sc.woff2) format('woff2'),
    url(./woff/playfair-display-sc.woff) format('woff');
}

@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  src: local('Prata Regular'), local('Prata-Regular'),
    url(./woff2/prata.woff2) format('woff2'),
    url(./woff/prata.woff) format('woff');
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'),
    url(./woff2/russo-one.woff2) format('woff2'),
    url(./woff/russo-one.woff) format('woff');
}

@font-face {
  font-family: 'Neucha';
  font-style: normal;
  font-weight: 400;
  src: local('Neucha'),
    url(./woff2/neucha.woff2) format('woff2'),
    url(./woff/neucha.woff) format('woff');
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'),
    url(./woff2/philosopher.woff2) format('woff2'),
    url(./woff/philosopher.woff) format('woff');
}

@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  src: local('Alice Regular'), local('Alice-Regular'),
    url(./woff2/alice.woff2) format('woff2'),
    url(./woff/alice.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'),
    url(./woff2/montserrat-alternates.woff2) format('woff2'),
    url(./woff/montserrat-alternates.woff) format('woff');
}

@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  src: local('Marck Script'), local('MarckScript-Regular'),
    url(./woff2/marck-script.woff2) format('woff2'),
    url(./woff/marck-script.woff) format('woff');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'),
    url(./woff2/spectral.woff2) format('woff2'),
    url(./woff/spectral.woff) format('woff');
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'),
    url(./woff2/pt-mono.woff2) format('woff2'),
    url(./woff/pt-mono.woff) format('woff');
}

@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: local('Bad Script Regular'), local('BadScript-Regular'),
    url(./woff2/bad-script.woff2) format('woff2'),
    url(./woff/bad-script.woff) format('woff');
}

@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: local('Scada Regular'), local('Scada-Regular'),
    url(./woff2/scada.woff2) format('woff2'),
    url(./woff/scada.woff) format('woff');
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  src: local('M PLUS Rounded 1c'), local('MPLUSRounded1c-Regular'),
    url(./woff2/m-plus-rounded-1c.woff2) format('woff2'),
    url(./woff/m-plus-rounded-1c.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'),
    url(./woff2/alegreya-sans-sc.woff2) format('woff2'),
    url(./woff/alegreya-sans-sc.woff) format('woff');
}

@font-face {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 400;
  src: local('El Messiri'), local('ElMessiri-Regular'),
    url(./woff2/el-messiri.woff2) format('woff2'),
    url(./woff/el-messiri.woff) format('woff');
}

@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
    url(./woff2/press-start-2p.woff2) format('woff2'),
    url(./woff/press-start-2p.woff) format('woff');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Regular'), local('Cormorant-Regular'),
    url(./woff2/cormorant.woff2) format('woff2'),
    url(./woff/cormorant.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
    url(./woff2/ubuntu-mono.woff2) format('woff2'),
    url(./woff/ubuntu-mono.woff) format('woff');
}

@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
    url(./woff2/yeseva-one.woff2) format('woff2'),
    url(./woff/yeseva-one.woff) format('woff');
}

@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif Caption'), local('PTSerif-Caption'),
    url(./woff2/pt-serif-caption.woff2) format('woff2'),
    url(./woff/pt-serif-caption.woff) format('woff');
}

@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: local('Forum'),
    url(./woff2/forum.woff2) format('woff2'),
    url(./woff/forum.woff) format('woff');
}

@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url(./woff2/jura.woff2) format('woff2'),
    url(./woff/jura.woff) format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
    url(./woff2/ibm-plex-mono.woff2) format('woff2'),
    url(./woff/ibm-plex-mono.woff) format('woff');
}

@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Tenor Sans'), local('TenorSans'),
    url(./woff2/tenor-sans.woff2) format('woff2'),
    url(./woff/tenor-sans.woff) format('woff');
}

@font-face {
  font-family: 'Sawarabi Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Sawarabi Gothic'), local('SawarabiGothic-Regular'),
    url(./woff2/sawarabi-gothic.woff2) format('woff2'),
    url(./woff/sawarabi-gothic.woff) format('woff');
}

@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: local('Cousine Regular'), local('Cousine-Regular'),
    url(./woff2/cousine.woff2) format('woff2'),
    url(./woff/cousine.woff) format('woff');
}

@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif SC'), local('NotoSerifSC-Regular'),
    url(./woff2/noto-serif-sc.woff2) format('woff2'),
    url(./woff/noto-serif-sc.woff) format('woff');
}

@font-face {
  font-family: 'Marmelad';
  font-style: normal;
  font-weight: 400;
  src: local('Marmelad'), local('Marmelad-Regular'),
    url(./woff2/marmelad.woff2) format('woff2'),
    url(./woff/marmelad.woff) format('woff');
}

@font-face {
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik Mono One Regular'), local('RubikMonoOne-Regular'),
    url(./woff2/rubik-mono-one.woff2) format('woff2'),
    url(./woff/rubik-mono-one.woff) format('woff');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'),
    url(./woff2/fira-mono.woff2) format('woff2'),
    url(./woff/fira-mono.woff) format('woff');
}

@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: 400;
  src: local('Oranienbaum'), local('Oranienbaum-Regular'),
    url(./woff2/oranienbaum.woff2) format('woff2'),
    url(./woff/oranienbaum.woff) format('woff');
}

@font-face {
  font-family: 'Kosugi Maru';
  font-style: normal;
  font-weight: 400;
  src: local('Kosugi Maru'), local('KosugiMaru-Regular'),
    url(./woff2/kosugi-maru.woff2) format('woff2'),
    url(./woff/kosugi-maru.woff) format('woff');
}

@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  src: local('Pangolin Regular'), local('Pangolin-Regular'),
    url(./woff2/pangolin.woff2) format('woff2'),
    url(./woff/pangolin.woff) format('woff');
}

@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 400;
  src: local('Arsenal Regular'), local('Arsenal-Regular'),
    url(./woff2/arsenal.woff2) format('woff2'),
    url(./woff/arsenal.woff) format('woff');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'),
    url(./woff2/anonymous-pro.woff2) format('woff2'),
    url(./woff/anonymous-pro.woff) format('woff');
}

@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC Regular'), local('AlegreyaSC-Regular'),
    url(./woff2/alegreya-sc.woff2) format('woff2'),
    url(./woff/alegreya-sc.woff) format('woff');
}

@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  src: local('Pattaya'), local('Pattaya-Regular'),
    url(./woff2/pattaya.woff2) format('woff2'),
    url(./woff/pattaya.woff) format('woff');
}

@font-face {
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif TC'), local('NotoSerifTC-Regular'),
    url(./woff2/noto-serif-tc.woff2) format('woff2'),
    url(./woff/noto-serif-tc.woff) format('woff');
}

@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Kelly Slab'), local('KellySlab-Regular'),
    url(./woff2/kelly-slab.woff2) format('woff2'),
    url(./woff/kelly-slab.woff) format('woff');
}

@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Infant Regular'), local('CormorantInfant-Regular'),
    url(./woff2/cormorant-infant.woff2) format('woff2'),
    url(./woff/cormorant-infant.woff) format('woff');
}

@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local('Gabriela Regular'), local('Gabriela-Regular'),
    url(./woff2/gabriela.woff2) format('woff2'),
    url(./woff/gabriela.woff) format('woff');
}

@font-face {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant SC Regular'), local('CormorantSC-Regular'),
    url(./woff2/cormorant-sc.woff2) format('woff2'),
    url(./woff/cormorant-sc.woff) format('woff');
}

@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: local('Kurale Regular'), local('Kurale-Regular'),
    url(./woff2/kurale.woff2) format('woff2'),
    url(./woff/kurale.woff) format('woff');
}

@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  src: url(./woff2/podkova.woff2) format('woff2'),
    url(./woff/podkova.woff) format('woff');
}

@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: local('Andika Regular'), local('Andika-Regular'),
    url(./woff2/andika.woff2) format('woff2'),
    url(./woff/andika.woff) format('woff');
}

@font-face {
  font-family: 'Kosugi';
  font-style: normal;
  font-weight: 400;
  src: local('Kosugi Regular'), local('Kosugi-Regular'),
    url(./woff2/kosugi.woff2) format('woff2'),
    url(./woff/kosugi.woff) format('woff');
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  src: url(./woff2/literata.woff2) format('woff2'),
    url(./woff/literata.woff) format('woff');
}

@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral SC Regular'), local('SpectralSC-Regular'),
    url(./woff2/spectral-sc.woff2) format('woff2'),
    url(./woff/spectral-sc.woff) format('woff');
}

@font-face {
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  src: local('Ledger'), local('Ledger-Regular'),
    url(./woff2/ledger.woff2) format('woff2'),
    url(./woff/ledger.woff) format('woff');
}

@font-face {
  font-family: 'Ruslan Display';
  font-style: normal;
  font-weight: 400;
  src: local('Ruslan Display'), local('RuslanDisplay'),
    url(./woff2/ruslan-display.woff2) format('woff2'),
    url(./woff/ruslan-display.woff) format('woff');
}

@font-face {
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: local('Prosto One'), local('ProstoOne-Regular'),
    url(./woff2/prosto-one.woff2) format('woff2'),
    url(./woff/prosto-one.woff) format('woff');
}

@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'),
    url(./woff2/vollkorn-sc.woff2) format('woff2'),
    url(./woff/vollkorn-sc.woff) format('woff');
}

@font-face {
  font-family: 'Cormorant Unicase';
  font-style: normal;
  font-weight: 400;
  src: local('Cormorant Unicase Regular'), local('CormorantUnicase-Regular'),
    url(./woff2/cormorant-unicase.woff2) format('woff2'),
    url(./woff/cormorant-unicase.woff) format('woff');
}

@font-face {
  font-family: 'Underdog';
  font-style: normal;
  font-weight: 400;
  src: local('Underdog'), local('Underdog-Regular'),
    url(./woff2/underdog.woff2) format('woff2'),
    url(./woff/underdog.woff) format('woff');
}

@font-face {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  src: local('Seymour One'), local('SeymourOne'),
    url(./woff2/seymour-one.woff2) format('woff2'),
    url(./woff/seymour-one.woff) format('woff');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(./woff2/fira-code.woff2) format('woff2'),
    url(./woff/fira-code.woff) format('woff');
}

@font-face {
  font-family: 'Stalinist One';
  font-style: normal;
  font-weight: 400;
  src: local('Stalinist One'), local('StalinistOne-Regular'),
    url(./woff2/stalinist-one.woff2) format('woff2'),
    url(./woff/stalinist-one.woff) format('woff');
}
