.aui-checkbox__checkbox {
  display: none;
}
.aui-checkbox__checkbox:checked + .aui-checkbox__label .aui-checkbox__box:after {
  content: '';
  width: 14px;
  height: 10px;
  -webkit-mask-box-image: url('checkbox.svg');
  mask-image: url('checkbox.svg');
  background-color: #424b5e;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aui-checkbox__label {
  position: relative;
  font-size: 14px;
  color: #5e7491;
}
.aui-checkbox__box {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #dde1ed;
  border-radius: 20%;
  background: #fff;
  margin-right: 8px;
}
