.aui-marketing-label_desktop {
    position: relative;
    padding: 4px 8px;
    border-radius: 4px 4px 4px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    height: 24px;
}

.aui-marketing-label_desktop::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    border: 2px solid transparent;
}

.aui-marketing-label_desktop.aui-marketing-label_green-dark-20::after {
    border-top: 2px solid var(--green-d20);
    border-right: 2px solid var(--green-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_red-dark-10::after {
    border-top: 2px solid var(--red-d10);
    border-right: 2px solid var(--red-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-dark-10::after {
    border-top: 2px solid var(--orange-d10);
    border-right: 2px solid var(--orange-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_purple-dark-20::after {
    border-top: 2px solid var(--purple-d20);
    border-right: 2px solid var(--purple-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-dark-10::after {
    border-top: 2px solid var(--blue-d10);
    border-right: 2px solid var(--blue-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange::after {
    border-top: 2px solid var(--orange);
    border-right: 2px solid var(--orange);
}


.aui-marketing-label_desktop.aui-marketing-label_red::after {
    border-top: 2px solid var(--red);
    border-right: 2px solid var(--red);
}

.aui-marketing-label_desktop.aui-marketing-label_red-dark-15::after {
    border-top: 2px solid var(--red-d15);
    border-right: 2px solid var(--red-d15);
}

.aui-marketing-label_desktop.aui-marketing-label_green-dark-10::after {
    border-top: 2px solid var(--green-d10);
    border-right: 2px solid var(--green-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_blue::after {
    border-top: 2px solid var(--blue);
    border-right: 2px solid var(--blue);
}

.aui-marketing-label_desktop.aui-marketing-label_purple::after {
    border-top: 2px solid var(--purple);
    border-right: 2px solid var(--purple);
}
