.aui-marketing-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
  color: var(--white);
  box-sizing: border-box;
}

.aui-marketing-label_green-dark-20 {
  background-color: var(--green-d20);
}

.aui-marketing-label_red-dark-10 {
  background-color: var(--red-d10);
}

.aui-marketing-label_orange-dark-10 {
  background-color: var(--orange-d10);
}

.aui-marketing-label_purple-dark-20 {
  background-color: var(--purple-d20);
}

.aui-marketing-label_blue-dark-10 {
  background-color: var(--blue-d10);
}

.aui-marketing-label_blue-light-20 {
  background-color: var(--blue-l20);
}

.aui-marketing-label_orange {
  background-color: var(--orange);
}

.aui-marketing-label_amber {
  background-color: var(--amber);
}

.aui-marketing-label_transparent {
  opacity: 0.75;
}

.aui-marketing-label_pink {
  background-color: var(--pink);
}

.aui-marketing-label_lilac {
  background-color: var(--lilac);
}

.aui-marketing-label_orange-d101 {
  background-color: var(--orange-d101);
}

.aui-marketing-label_amber-d101 {
  background-color: var(--amber-d101);
}

.aui-marketing-label_blue-d101 {
  background-color: var(--blue-d101);
}

.aui-marketing-label_purple-d101 {
  background-color: var(--purple-d101);
}

.aui-marketing-label_blue-d102 {
  background-color: var(--blue-d102);
}

.aui-marketing-label_orange-d102 {
  background-color: var(--orange-d102);
}

.aui-marketing-label_red-d102 {
  background-color: var(--red-d102);
}
