.aui-marketing-label_desktop {
  position: relative;
  padding: 4px 8px;
  border-radius: 4px 4px 4px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  height: 24px;
}

.aui-marketing-label_desktop::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  border: 2px solid transparent;
}

.aui-marketing-label_desktop.aui-marketing-label_green-dark-20::after {
  border-top: 2px solid var(--green-d20);
  border-right: 2px solid var(--green-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_red-dark-10::after {
  border-top: 2px solid var(--red-d10);
  border-right: 2px solid var(--red-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-dark-10::after {
  border-top: 2px solid var(--orange-d10);
  border-right: 2px solid var(--orange-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_purple-dark-20::after {
  border-top: 2px solid var(--purple-d20);
  border-right: 2px solid var(--purple-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-dark-10::after {
  border-top: 2px solid var(--blue-d10);
  border-right: 2px solid var(--blue-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_pink::after {
  border-top: 2px solid var(--pink);
  border-right: 2px solid var(--pink);
}

.aui-marketing-label_desktop.aui-marketing-label_lilac::after {
  border-top: 2px solid var(--lilac);
  border-right: 2px solid var(--lilac);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-d102::after {
  border-top: 2px solid var(--orange-d102);
  border-right: 2px solid var(--orange-d102);
}

.aui-marketing-label_desktop.aui-marketing-label_red-d102::after {
  border-top: 2px solid var(--red-d102);
  border-right: 2px solid var(--red-d102);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-d101::after {
  border-top: 2px solid var(--orange-d101);
  border-right: 2px solid var(--orange-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_amber-d101::after {
  border-top: 2px solid var(--amber-d101);
  border-right: 2px solid var(--amber-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-d101::after {
  border-top: 2px solid var(--blue-d101);
  border-right: 2px solid var(--blue-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_purple-d101::after {
  border-top: 2px solid var(--purple-d101);
  border-right: 2px solid var(--purple-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-d102::after {
  border-top: 2px solid var(--blue-d102);
  border-right: 2px solid var(--blue-d102);
}
