.aui-marketing-label_mobile {
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.aui-marketing-label_mobile_item-card-item,
.aui-marketing-label_mobile_listing-item {
  border-radius: 4px;
}

.aui-marketing-label_mobile_item-card-item {
  font-size: 14px;
  min-height: 20px;
  line-height: 1.1;
}

.aui-marketing-label_mobile_listing-item {
  padding: 1.5px 4px;
  font-size: 11px;
  line-height: 1;
}
