.aui-admin-enhanced-checkbox {
  display: flex;
}

.aui-admin-enhanced-checkbox__title {
  font-size: 13px;
  color: var(--admin-dark-blue);
  line-height: 6px;
}

.aui-admin-enhanced-checkbox__icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-right: 60px;
  vertical-align: text-top;
}

.aui-admin-enhanced-checkbox__icon::before {
  content: '';
  position: absolute;
  top: -9px;
  right: 0;
  height: 26px;
  width: 50px;
  border-radius: 13px;
  border: solid 1px var(--admin-light-grey);
  box-sizing: border-box;
}

.aui-admin-enhanced-checkbox__icon::after {
  content: '';
  background: var(--admin-grey);
  position: absolute;
  top: -7px;
  right: 25px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: right 0.2s ease-out;
}

.aui-admin-enhanced-checkbox__input {
  display: none;
}

.aui-admin-enhanced-checkbox__input:checked
  + .aui-admin-enhanced-checkbox__icon::after {
  right: 2px;
  background: var(--admin-checkbox-color);
}
