.aui-cs-button_big,
.aui-cs-button_big:visited,
.aui-cs-button_big:link {
  height: 48px;
  padding: 0 var(--indent-xxl);
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  border-radius: 6px;
}
