.aui-button-link {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
  outline: none;
  padding: 0;
}

.aui-button-link:not(:disabled):hover {
  text-decoration: underline;
}

.aui-button-link:disabled {
   color: var(--black-l65);
   cursor: default;
 }
