.aui-button-link {
  font: inherit;
  background: none;
  border: none;
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
  outline: none;
  padding: 0;
}

.aui-button-link:hover {
  text-decoration: underline;
}

.aui-button-link:disabled {
  text-decoration: none;
  color: var(--black-l65);
  cursor: default;
}

@media (hover:none) {
  .aui-button-link:hover {
    text-decoration: none;
  }
}
