.aui-popup-hint {
  position: relative;
  cursor: pointer;
}

.aui-popup-hint:after {
  position: absolute;
  max-width: 228px;
  padding: 12px;
  top: 100%;
  left: -75%;
  color: #fff;
  background: #424b5e;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
.aui-popup-hint:hover:after {
  content: attr(data-popup-hint);
}
