.aui-icon::after,
.aui-icon::before {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.aui-icon_company::before,
.aui-icon_company::after {
  mask-image: url(./company.svg);
  -webkit-mask-image: url(./company.svg);
}

.aui-icon_company_color_black::before,
.aui-icon_company_color_black::after {
  background-color: var(--black-l20);
}

.aui-icon_company_color_orange::before,
.aui-icon_company_color_orange::after {
  background-color: var(--orange);
}

.aui-icon_phone::before,
.aui-icon_phone::after {
  mask-image: url(./phone.svg);
  -webkit-mask-image: url(./phone.svg);
  background-color: var(--orange);
}

.aui-icon_web::before,
.aui-icon_web::after {
  mask-image: url(./web.svg);
  -webkit-mask-image: url(./web.svg);
  background-color: var(--orange);
}

.aui-icon_email::before,
.aui-icon_email::after {
  mask-image: url(./email.svg);
  -webkit-mask-image: url(./email.svg);
  background-color: var(--orange);
}

.aui-icon_geo::before,
.aui-icon_geo::after {
  mask-image: url(./geo.svg);
  -webkit-mask-image: url(./geo.svg);
  background-color: var(--orange);
}

.aui-icon_schedule::before,
.aui-icon_schedule::after {
  mask-image: url(./schedule.svg);
  -webkit-mask-image: url(./schedule.svg);
  background-color: var(--orange);
}

.aui-icon_bring::before,
.aui-icon_bring::after {
  mask-image: url(./bring.svg);
  -webkit-mask-image: url(./bring.svg);
  background-color: var(--orange);
}

.aui-icon_pay::before,
.aui-icon_pay::after {
  mask-image: url(./pay.svg);
  -webkit-mask-image: url(./pay.svg);
  background-color: var(--orange);
}

.aui-icon_delivery::before,
.aui-icon_delivery::after {
  mask-image: url(./delivery.svg);
  -webkit-mask-image: url(./delivery.svg);
  background-color: var(--orange);
}

.aui-icon_arrow-unwrap::after,
.aui-icon_arrow-unwrap::before {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.aui-icon_arrow-unwrap_hide::after,
.aui-icon_arrow-unwrap_hide::before {
  background-image: url(./arrow-unwrap-hide.svg);
}

.aui-icon_arrow-unwrap_hide[data-hide='false']::after,
.aui-icon_arrow-unwrap_hide[data-hide='false']::before {
  background-image: url(./arrow-unwrap-unhide.svg);
}

.aui-icon_arrow-unwrap_unhide::after,
.aui-icon_arrow-unwrap_unhide::before {
  background-image: url(./arrow-unwrap-unhide.svg);
}

.aui-icon_arrow-sort::after,
.aui-icon_arrow-sort::before {
  background-image: url(./arrow-sort.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.aui-icon_arrow-expand::after,
.aui-icon_arrow-expand::before {
  background-image: url(./arrow-expand.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.aui-icon_arrow-back::after,
.aui-icon_arrow-back::before {
  mask-image: url(./arrow-back.svg);
  -webkit-mask-image: url(./arrow-back.svg);
}

.aui-icon_arrow-back_color_black::after,
.aui-icon_arrow-back_color_black::before {
  background-color: var(--black-l20);
}

.aui-icon_arrow-back_color_gray::after,
.aui-icon_arrow-back_color_gray::before {
  background-color: var(--black-l50);
}

.aui-icon_arrow-outline::after,
.aui-icon_arrow-outline::before {
  background-image: url(./arrow-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.aui-icon_whatsapp::after,
.aui-icon_whatsapp::before {
  mask-image: url(./whatsapp.svg);
  -webkit-mask-image: url(./whatsapp.svg);
  background-color: var(--green-d10);
}

.aui-icon_viber::after,
.aui-icon_viber::before {
  mask-image: url(./viber.svg);
  -webkit-mask-image: url(./viber.svg);
  background-color: #7e57c2;
}

.aui-icon_telegram::after,
.aui-icon_telegram::before {
  mask-image: url(./telegram.svg);
  -webkit-mask-image: url(./telegram.svg);
  background-color: var(--blue);
}

.aui-icon_star::after,
.aui-icon_star::before {
  background-image: url(./star.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
