.aui-icon::after,
.aui-icon::before {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.aui-icon_big::after,
.aui-icon_big::before {
  width: 24px;
  height: 24px;
  background-size: contain;
}

.aui-icon_small::after,
.aui-icon_small::before {
  width: 16px;
  height: 16px;
  background-size: contain;
}

.aui-icon_micro-small:after,
.aui-icon_micro-small:before {
  width: 14px;
  height: 14px;
  background-size: contain;
}

.aui-icon_micro:after,
.aui-icon_micro:before {
  width: 13px;
  height: 13px;
  background-size: contain;
}

.aui-icon_company-rank::after,
.aui-icon_company-rank::before {
  mask-image: url(./company-rank.svg);
  -webkit-mask-image: url(./company-rank.svg);
}

.aui-icon_company-rank_5::before,
.aui-icon_company-rank_4::before,
.aui-icon_company-rank_5::after,
.aui-icon_company-rank_4::after {
  background-color: var(--blue);
}

.aui-icon_company-rank_3::before,
.aui-icon_company-rank_3::after {
  background-color: var(--blue-l10);
}

.aui-icon_company-rank_2::before,
.aui-icon_company-rank_2::after {
  background-color: var(--blue-l30);
}

.aui-icon_company-rank_1::before,
.aui-icon_company-rank_1::after {
  background-color: var(--black-l75);
}

.aui-icon_company-rank_0::before {
  mask-image: url(./company.svg);
  -webkit-mask-image: url(./company.svg);
  background-color: var(--black-l20);
}

.aui-icon_company-rank_light-black::before {
  background-color: var(--black-l33);
}

.aui-icon_company::before,
.aui-icon_company::after {
  mask-image: url(./company.svg);
  -webkit-mask-image: url(./company.svg);
}

.aui-icon_favorite::before,
.aui-icon_favorite::after {
  background-image: url(./favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.aui-icon_favorite[data-is-favorite='true']::before,
.aui-icon_favorite[data-is-favorite='true']::after {
  background-image: url(./favorite_active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.aui-icon_company_color_black::before,
.aui-icon_company_color_black::after {
  background-color: var(--black-l20);
}

.aui-icon_company_color_light-black::before,
.aui-icon_company_color_light-black::after {
  background-color: var(--black-l33);
}

.aui-icon_company_color_orange::before,
.aui-icon_company_color_orange::after {
  background-color: var(--orange);
}

.aui-icon_phone::before,
.aui-icon_phone::after {
  mask-image: url(./phone.svg);
  -webkit-mask-image: url(./phone.svg);
  background-color: var(--orange);
}

.aui-icon_phone_color_red::before,
.aui-icon_phone_color_red::after {
  background-color: var(--red-d101);
}

.aui-icon_phone-fill::before,
.aui-icon_phone-fill::after {
  mask-image: url(./phone_fill.svg);
  -webkit-mask-image: url(./phone_fill.svg);
  background-color: var(--orange);
}

.aui-icon_phone-fill_red::before,
.aui-icon_phone-fill_red::after {
  background-color: var(--red-d101);
}

.aui-icon_web::before,
.aui-icon_web::after {
  mask-image: url(./web.svg);
  -webkit-mask-image: url(./web.svg);
  background-color: var(--orange);
}

.aui-icon_email::before,
.aui-icon_email::after {
  mask-image: url(./email.svg);
  -webkit-mask-image: url(./email.svg);
  background-color: var(--orange);
}

.aui-icon_email_color_red::before,
.aui-icon_email_color_red::after {
  background-color: var(--red-d101);
}

.aui-icon_geo::before,
.aui-icon_geo::after {
  mask-image: url(./geo.svg);
  -webkit-mask-image: url(./geo.svg);
  background-color: var(--orange);
}

.aui-icon_schedule::before,
.aui-icon_schedule::after {
  mask-image: url(./schedule.svg);
  -webkit-mask-image: url(./schedule.svg);
  background-color: var(--orange);
}

.aui-icon_bring::before,
.aui-icon_bring::after {
  mask-image: url(./bring.svg);
  -webkit-mask-image: url(./bring.svg);
  background-color: var(--orange);
}

.aui-icon_pay::before,
.aui-icon_pay::after {
  mask-image: url(./pay.svg);
  -webkit-mask-image: url(./pay.svg);
  background-color: var(--orange);
}

.aui-icon_delivery::before,
.aui-icon_delivery::after {
  mask-image: url(./delivery.svg);
  -webkit-mask-image: url(./delivery.svg);
  background-color: var(--orange);
}

.aui-icon_arrow-unwrap::after,
.aui-icon_arrow-unwrap::before {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.aui-icon_arrow-unwrap_hide::after,
.aui-icon_arrow-unwrap_hide::before {
  background-image: url(./arrow-unwrap-hide.svg);
}

.aui-icon_arrow-unwrap_hide[data-hide='false']::after,
.aui-icon_arrow-unwrap_hide[data-hide='false']::before {
  background-image: url(./arrow-unwrap-unhide.svg);
}

.aui-icon_arrow-unwrap_unhide::after,
.aui-icon_arrow-unwrap_unhide::before {
  background-image: url(./arrow-unwrap-unhide.svg);
}

.aui-icon_arrow-sort::after,
.aui-icon_arrow-sort::before {
  background-image: url(./arrow-sort.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.aui-icon_arrow-expand::after,
.aui-icon_arrow-expand::before {
  background-image: url(./arrow-expand.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.aui-icon_arrow-back::after,
.aui-icon_arrow-back::before {
  mask-image: url(./arrow-back.svg);
  -webkit-mask-image: url(./arrow-back.svg);
}

.aui-icon_arrow-back_color_black::after,
.aui-icon_arrow-back_color_black::before {
  background-color: var(--black-l20);
}

.aui-icon_arrow-back_color_red::after,
.aui-icon_arrow-back_color_red::before {
  background-color: var(--red-d101);
}

.aui-icon_arrow-back_color_gray::after,
.aui-icon_arrow-back_color_gray::before {
  background-color: var(--black-l50);
}

.aui-icon_arrow-outline::after,
.aui-icon_arrow-outline::before {
  background-image: url(./arrow-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.aui-icon_whatsapp::after,
.aui-icon_whatsapp::before {
  mask-image: url(./whatsapp.svg);
  -webkit-mask-image: url(./whatsapp.svg);
  background-color: var(--green-d10);
}

.aui-icon_viber::after,
.aui-icon_viber::before {
  mask-image: url(./viber.svg);
  -webkit-mask-image: url(./viber.svg);
  background-color: #7e57c2;
}

.aui-icon_telegram::after,
.aui-icon_telegram::before {
  mask-image: url(./telegram.svg);
  -webkit-mask-image: url(./telegram.svg);
  background-color: var(--blue);
}

.aui-icon_star::before,
.aui-icon_star::after {
  mask-image: url(./star.svg);
  -webkit-mask-image: url(./star.svg);
}

.aui-icon_star_color_amber::after,
.aui-icon_star_color_amber::before {
  background-color: var(--amber);
}

.aui-icon_star_color_blue::after,
.aui-icon_star_color_blue::before {
  background-color: var(--blue);
}

.aui-icon_edit::after,
.aui-icon_edit::before {
  mask-image: url('./edit-product.svg');
  background-color: var(--blue);
}

.aui-icon_edit:hover::after,
.aui-icon_edit:hover::before {
  background-color: var(--blue-d10);
}

@media (hover: hover) {
  .aui-icon_favorite:not([data-is-favorite='true']):hover::before,
  .aui-icon_favorite:not([data-is-favorite='true']):hover::after {
    background-image: url(./favorite_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
