@media screen and (max-width: 767px) {
  .aui-app-button_app-store_wide,
  .aui-app-button_google-play_wide {
    width: 100%;
  }
  .aui-app-button_app-store_wide:after,
  .aui-app-button_google-play_wide:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .aui-app-button_app-store_wide::before,
  .aui-app-button_google-play_wide::before {
    display: none;
  }
  .aui-app-button_app-store_wide:after {
    content: '';
    -webkit-mask-box-image: url('app-store-logo.svg');
    mask-image: url('app-store-logo.svg');
    background-color: var(--white);
    width: 21px;
    height: 26px;
  }
}
