.aui-app-button {
  border: 1px solid var(--blue);
}
.aui-app-button:hover,
.aui-app-button:focus,
.aui-app-button:before {
  background-color: var(--blue);
}
.aui-app-button:hover:before,
.aui-app-button:focus:before {
  background-color: var(--white);
}
