.aui-rating-label {
  display: inline-block;
  width: 36px;
  height: 24px;
  color: var(--white);
  -webkit-mask-image: url('rating-label.svg');
  mask-image: url('rating-label.svg');
  background-color: var(--medium-gray);
  font-size: 10px;
  line-height: 24px;
  box-sizing: border-box;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
