.aui-form__section {
  padding: var(--indent-s) 0;
  border-top: solid 1px var(--medium-gray);
}

.aui-form__section-label {
  color: var(--light-blue-dark);
  margin-bottom: var(--indent-s);
}

.aui-form__label-wrapper { color: var(--medium-dark); }

.aui-form__text-field,
.aui-form__text-area {
  border: 1px solid var(--medium-gray);
  color: var(--medium-dark);
}

.aui-form__text-field {
  padding: 0 var(--indent-s);
  height: var(--indent-xl);
  line-height: var(--indent-xl);
}

.aui-form__text-area { padding: var(--indent-s); }

.aui-form__text-field:focus,
.aui-form__text-area:focus { border-color: var(--blue); }

.aui-form__text-field::placeholder,
.aui-form__text-area::placeholder{ color: var(--extra-light-dark); }

.aui-form__error-message { color: var(--red); }

.aui-form__group_with-error .aui-form__text-area { border-color: var(--red); }

.aui-form__clean-field:before { color: var(--light-blue-dark); }
