.aui-list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--white);
}

.aui-list__item {
  padding: 12px;
  background-color: inherit;
  outline: none;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.aui-list_pick-up-points .aui-list__item:hover,
.aui-list_online-integrations .aui-list__item:hover {
  background-color: var(--black-l95);
  cursor: pointer;
}

.aui-list__item:only-child .aui-radio__label {
  padding: 0;
}

.aui-list__item:only-child .aui-radio__label:before,
.aui-list__item:only-child .aui-radio__label:after {
  display: none;
}

.aui-list_online-integrations .aui-list__item_active {
  border: 1px solid var(--black);
  border-radius: 4px;
}

.aui-list__item_online-integration {
  background-color: var(--white);
}

.aui-list_pick-up-points .aui-list__item_active {
  border: 1px solid var(--black);
  border-radius: 4px;
}
