.aui-list_ordinary .aui-list__item {
  border-radius: 4px;
  background-color: var(--black-l98);
}

.aui-list_ordinary .aui-list__item:not(:last-of-type) {
  margin-bottom: 4px;
}

.aui-list_ordinary .aui-list__item_selected {
  border-color: var(--orange-l20);
}

.aui-list_ordinary .aui-list_online-integration:not(:last-of-type) {
  margin-bottom: 8px;
}

.aui-list_ordinary .aui-list__item_active {
  background-color: var(--black-l98);
}
