.aui-button_transparent-yellow,
.aui-button_transparent-yellow:link,
.aui-button_transparent-yellow:visited {
  background: transparent;
  border: 1px solid var(--dark-yellow);
  color: var(--dark-yellow);
}
.aui-button_transparent-yellow:active {
  color: var(--white);
  background: var(--dark-yellow);
}

@media (hover: hover) {
  .aui-button_transparent-yellow:hover {
    color: var(--white);
    background: var(--dark-yellow);
  }
}
