.aui-button_cart {
  position: relative;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding-left: 60px;
  white-space: nowrap;
}
.aui-button_cart:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 17px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-mask-image: url('button_cart.svg');
  mask-image: url('button_cart.svg');
  background-color: var(--blue);
}
.aui-button_cart:hover {
  color: var(--white);
}
.aui-button_cart:hover:before {
  background-color: var(--white);
}

@media all and (max-width: 767px) {
  .aui-button_cart {
    padding: 0;
    width: 54px;
    font-size: 0;
  }
  .aui-button_cart:before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
