.aui-button_cart-with-item-no-border {
  position: relative;
  background: transparent;
  color: var(--blue);
  padding-left: var(--indent-m);
  white-space: nowrap;
}
.aui-button_cart-with-item-no-border:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('button_cart-with-item.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  -webkit-mask-image: none;
  mask-image: none;
}
.aui-button_cart-with-item-no-border:active {
  color: var(--dark-blue);
}
.aui-button_cart-with-item-no-border:active:before {
  background-color: transparent;
}

@media (hover: hover) {
  .aui-button_cart-with-item-no-border:hover {
    color: var(--dark-blue);
    background-color: transparent;
  }
  .aui-button_cart-with-item-no-border:hover:before {
    background-color: transparent;
  }
}
