.aui-button,
.aui-button:visited,
.aui-button:link { background: var(--blue); color: var(--white); }

.aui-button:hover,
.aui-button:active { background: var(--dark-blue); }

.aui-button:disabled,
.aui-button:hover:disabled { background: var(--blue); opacity: .33; }
