.aui-button_big,
.aui-button_big:link,
.aui-button_big:visited {
  padding: 0 var(--indent-l);
  height: var(--indent-xl);
  line-height: var(--indent-xl);
}

@media all and (max-width: 767px) {
  .aui-button_big,
  .aui-button_big:link {
    padding: 0 var(--indent-m);
  }
}
