.aui-button { background: var(--blue); }

.aui-button:hover,
.aui-button:active { background: var(--dark-blue); }

.aui-button:disabled,
.aui-button:hover:disabled { background: var(--blue); opacity: .33; }
