.aui-button_chat {
  position: relative;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: var(--indent-s);
  width: 52px;
  height: 50px;
  box-sizing: border-box;
}
.aui-button_chat:before {
  content: '';
  width: 22px;
  height: 17px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -11px;
  -webkit-mask-image: url('./button_chat.svg');
  mask-image: url('./button_chat.svg');
  background-color: var(--blue);
}
.aui-button_chat:after {
  content: '';
  position: absolute;
  top: 6px;
  right: 6px;
  width: 6px;
  height: 6px;
  background: var(--green);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(168, 189, 71, 0), 0 0 0 6px rgba(238, 246, 210, 0);
  animation: chat-button-blinking 1.2s alternate infinite;
}
.aui-button_chat:hover {
  color: var(--white);
}
.aui-button_chat:hover:before {
  background-color: var(--white);
}
.aui-button_chat:hover:after {
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0);
  animation: chat-button-blinking-active 1.2s alternate infinite;
}

@keyframes chat-button-blinking {
  0% { box-shadow: 0 0 0 0 rgba(168, 189, 71, .2), 0 0 0 0 rgba(238, 246, 210, .5); }
  100% { box-shadow: 0 0 0 3px rgba(168, 189, 71, .4), 0 0 0 6px rgba(238, 246, 210, 1); }
}
@keyframes chat-button-blinking-active {
  0% { box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0); }
  100% { box-shadow: 0 0 0 3px rgba(255, 255, 255, .5), 0 0 0 6px rgba(255, 255, 255, .2); }
}
