.aui-button,
.aui-button:visited,
.aui-button:link {
  background: var(--blue);
  color: var(--white);
  height: 36px;
  line-height: 36px;
  padding: 0 var(--indent-m);
  box-sizing: border-box;
}

.aui-button:active,
.aui-button:link:active {
  background: var(--dark-blue);
}

.aui-button:disabled,
.aui-button:hover:disabled,
.aui-button_disabled,
.aui-button_disabled:hover {
  opacity: 0.33;
  cursor: default;
  pointer-events: none;
}

@media (hover: hover) {
  .aui-button:hover,
  .aui-button:link:hover {
    background: var(--dark-blue);
  }
}
