.aui-button_chat,
.aui-button_chat:link,
.aui-button_chat:visited {
  position: relative;
  color: var(--blue);
  background: transparent;
  border: 1px solid var(--blue);
  padding: 0 var(--indent-m) 0 var(--indent-l);
}
.aui-button_chat:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: var(--green);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(168, 189, 71, 0), 0 0 0 6px rgba(238, 246, 210, 0);
  animation: chat-button-blinking 1.2s alternate infinite;
}
.aui-button_chat:hover {
  color: var(--white);
  background: var(--dark-blue);
}
.aui-button_chat:hover:before {
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0);
  animation: chat-button-blinking-active 1.2s alternate infinite;
}

@keyframes chat-button-blinking {
  0% { box-shadow: 0 0 0 0 rgba(168, 189, 71, .2), 0 0 0 0 rgba(238, 246, 210, .5); }
  100% { box-shadow: 0 0 0 3px rgba(168, 189, 71, .4), 0 0 0 6px rgba(238, 246, 210, 1); }
}
@keyframes chat-button-blinking-active {
  0% { box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0); }
  100% { box-shadow: 0 0 0 3px rgba(255, 255, 255, .5), 0 0 0 6px rgba(255, 255, 255, .2); }
}
