.aui-button_green {
  background: var(--medium-green);
  color: var(--white);
}
.aui-button_green:hover {
  background: var(--green);
}

.aui-button_green:disabled,
.aui-button_green:hover:disabled {
  background: var(--medium-green);
}
