.aui-button-mobile_color_red-dark-101 {
  background: var(--red-d101);
}

.aui-button-mobile_color_orange-light-10 {
  background: var(--orange-l10);
}

.aui-button-mobile_clear-color_red-dark-101 {
  border-color: var(--red-d101);
  color: var(--red-d101);
}

.aui-button-mobile_clear-color_orange-light-10 {
  border-color: var(--orange-l10);
  color: var(--orange-l10);
}

.aui-button-mobile_color_red-main {
  background: var(--red-main);
}

.aui-button-mobile_clear-color_red-main {
  border-color: var(--red-main);
  color: var(--red-main);
}
