.aui-button-mobile_size_l {
  padding: 10px 0;
  height: 48px;
  font-size: 16px;
  line-height: 18px;
}

.aui-button-mobile_size_m {
  padding: 10px 0;
  height: 38px;
  font-size: 14px;
  line-height: 16px;
}

.aui-button-mobile_size_s {
  padding: 8px 0;
  height: 30px;
  font-size: 14px;
  line-height: 16px;
}
