.aui-hint {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-mask-image: url('hint.svg');
  mask-image: url('hint.svg');
  background-color: var(--extra-light-dark);
  cursor: pointer;
}
.aui-hint:hover {
  background-color: var(--blue);
}
