.aui-admin-calendar-input {
  display: block;
  width: 100%;
  border: 1px solid var(--admin-light-grey);
  color: var(--admin-dark-blue);
  box-sizing: border-box;
  height: 40px;
  outline: none;
  padding-left: 50px;
  position: relative;
}

.aui-admin-calendar-input::-webkit-calendar-picker-indicator,
.aui-admin-calendar-input::-webkit-inner-spin-button {
  background-image: url('./aui-admin-calendar-input.svg');
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 0;
}
