.aui-admin-calendar-input {
  display: block;
  width: 100%;
  border: 1px solid var(--admin-light-grey);
  color: var(--admin-dark-blue);
  box-sizing: border-box;
  padding: 0 12px 0 24px;
  height: 40px;
  line-height: 40px;
  background-image: url('./calendar-icon.svg');
  background-position: 8px center;
  background-repeat: no-repeat;
  outline: none;
}

.aui-admin-calendar-input::-webkit-calendar-picker-indicator,
.aui-admin-calendar-input::-webkit-inner-spin-button {
  display: none;
}
