.aui-admin-hint_with-icon {
  display: inline-block;
}

.aui-admin-hint_with-icon::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: var(--admin-grey);
  -webkit-mask-box-image: url('./admin-hint_with-icon.svg');
  mask-image: url('./admin-hint_with-icon.svg');
}

.aui-admin-hint_with-icon:hover::before {
  background: var(--admin-blue);
}
