.aui-admin-hint {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(./admin-hint_with-icon.svg);
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
}
.aui-admin-hint__text {
  position: fixed;
  width: 359px;
  height: max-content;
  padding: 12px 16px;
  box-sizing: border-box;
  background: var(--admin-white);
  box-shadow: 0 0 5px 0 rgb(97 101 111 / 55%);
  font-size: 11px;
  font-weight: normal;
  opacity: 0;
  pointer-events: none;
  z-index: var(--z-index-absolute);
}
@media (hover: hover) {
  .aui-admin-hint:hover {
    background-image: url(./admin-hint_with-icon-blue.svg);
  }
}
.aui-admin-hint__text_open {
  transition: 0.3s;
  opacity: 1;
}
.aui-admin-hint__text_fullwidth {
  width: auto;
  left: 16px;
  right: 16px;
}
.aui-admin-hint__text_absolute {
  position: absolute;
}
.aui-admin-hint__text_right {
  left: 100%;
}
.aui-admin-hint__text_bottom {
  top: 100%;
}
.aui-admin-hint__text_left {
  right: 100%;
}
.aui-admin-hint__text_top {
  bottom: 100%;
}
