.social-networks_old .social-networks {
  width: auto;
  background: 0;
  border-radius: 0;
  margin: 0;
  display: flex;
}

.social-networks_old .social-networks__item {
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 3px;
  border-radius: 100%;
  background: var(--black);
  text-decoration: none;
}
.social-networks_old .social-networks__item_vk {
  background: url('images/vk.svg') 42% #000 no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_odnoklassniki {
  background: url('images/ok.svg') 50% #000 no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_fb {
  background: url('images/fb.svg') 50% #000 no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_instagram {
  background: url('images/ig.svg') 50% #fff no-repeat;
}
.social-networks_old .social-networks__item_youtube {
  background: url('images/tube.svg') 50% #fff no-repeat;
}
.social-networks_old .social-networks__item_telegram {
  background: url('images/tg.svg') 50% #fff no-repeat;
}
.social-networks_old .social-networks__item_yandex-zen {
  background: url('images/yz.svg') #000 no-repeat;
  background-size: 100%;
}
.social-networks_old .social-networks__item_pinterest {
  background: url('images/pt-icon.svg') #000 no-repeat;
  background-size: 100%;
}

.social-networks_old .social-networks__item_vk:hover { background-color: #c12c2e; }
.social-networks_old .social-networks__item_odnoklassniki:hover { background-color: #c12c2e; }
.social-networks_old .social-networks__item_fb:hover { background-color: #c12c2e; }
.social-networks_old .social-networks__item_instagram:hover { background-image: url('images/ig-hovered.svg'); }
.social-networks_old .social-networks__item_youtube:hover { background-image: url('images/tube-hovered.svg'); }
.social-networks_old .social-networks__item_telegram:hover { background-image: url('images/tg-hovered.svg'); }
.social-networks_old .social-networks__item_yandex-zen:hover { background-image: url('images/yz-hovered.svg'); }
.social-networks_old .social-networks__item_pinterest:hover { background: url('images/pt-hovered.svg') transparent; }
