.social-networks {
  width: max-content;
  background: var(--d2021-gray);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.social-networks__item {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
.social-networks__item:last-child {
  margin-right: 9px;
}
.social-networks__item_vk {
  background: url('images/vk-icon.svg') center center no-repeat;
  background-size: 50%;
}
.social-networks__item_odnoklassniki {
  background: url('images/ok-icon.svg') center center no-repeat;
  background-size: 32%;
}
.social-networks__item_telegram {
  background: url('images/tg-icon.svg') center center no-repeat;
  background-size: 45%;
}
.social-networks__item_yandex-zen {
  background: url('images/zen-icon.svg') center center no-repeat;
  background-size: 52%;
}
.social-networks__item_pinterest {
  background: url('images/pt-icon.svg') center center no-repeat;
  background-size: 45%;
}
.social-networks__item_web {
  background: url('images/web-icon.svg') no-repeat;
  background-size: 57%;
  background-position: 60% 60%;
}

.social-networks__item:hover {
  background-color: #e2e2e2;
}
