.social-networks_old .social-networks {
  width: auto;
  background: 0;
  border-radius: 0;
  margin: 0;
  display: flex;
}

.social-networks_old .social-networks__item {
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 3px;
  border-radius: 100%;
  background: var(--d2021-black);
  text-decoration: none;
}
.social-networks_old .social-networks__item_vk {
  background: url('./images/old/vk.svg') 42% var(--d2021-black) no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_odnoklassniki {
  background: url('./images/old/ok.svg') 50% var(--d2021-black) no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_fb {
  background: url('./images/old/fb.svg') 50% var(--d2021-black) no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_instagram {
  background: url('./images/old/ig.svg') 50% var(--d2021-white) no-repeat;
}
.social-networks_old .social-networks__item_youtube {
  background: url('./images/old/tube.svg') 50% var(--d2021-white) no-repeat;
}
.social-networks_old .social-networks__item_telegram {
  background: url('./images/old/tg.svg') 50% var(--d2021-white) no-repeat;
}
.social-networks_old .social-networks__item_yandex-zen {
  background: url('./images/old/yz.svg') var(--d2021-black) no-repeat;
  background-size: 100%;
}
.social-networks_old .social-networks__item_pinterest {
  background: url('./images/old/pt-icon.svg') var(--d2021-black) no-repeat;
  background-size: 100%;
}

.social-networks_old .social-networks__item_vk:hover { background-color: var(--red); }
.social-networks_old .social-networks__item_odnoklassniki:hover { background-color: var(--red); }
.social-networks_old .social-networks__item_fb:hover { background-color: var(--red); }
.social-networks_old .social-networks__item_instagram:hover { background-image: url('./images/old/ig-hovered.svg'); }
.social-networks_old .social-networks__item_youtube:hover { background-image: url('./images/old/tube-hovered.svg'); }
.social-networks_old .social-networks__item_telegram:hover { background-image: url('./images/old/tg-hovered.svg'); }
.social-networks_old .social-networks__item_yandex-zen:hover { background-image: url('./images/old/yz-hovered.svg'); }
.social-networks_old .social-networks__item_pinterest:hover { background: url('./images/old/pt-hovered.svg') transparent; }
