.aui-radio__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.aui-radio__label {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.aui-radio__radio + .aui-radio__label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
}

.aui-radio__radio + .aui-radio__label::before,
.aui-radio__radio + .aui-radio__label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform: translateY(-50%);
}

.aui-radio__radio + .aui-radio__label:before {
  width: 20px;
  height: 20px;
  background: var(--black-l90);
}

.aui-radio__radio + .aui-radio__label:after {
  width: 10px;
  height: 10px;
  border: 5px solid var(--black-l90);
  background-color: var(--orange);
  opacity: 0;
  transition: .3s;
  box-sizing: content-box;
}

.aui-radio__radio:checked + .aui-radio__label::after {
  opacity: 1;
}
