.aui-button {
  display: inline-block;
  cursor: pointer;

  background: #bbb;
  color: #fff;

  outline: none;
  border: none;
  border-radius: 3px;

  padding: 12px 24px;

  transition: background 0.5s;

  font-size: 14px;
  text-decoration: none;

  -webkit-appearance: none;
}

@media (hover: hover) {
  .aui-button:hover {
    background: #aaa;
  }
}

.aui-button:disabled,
.aui-button:hover:disabled {
  background: #a6a6a6;
  cursor: auto;
}
