.aui-button_green,
.aui-button_green:visited,
.aui-button_green:link {
  background: #a3bd49;
  color: #fff;
}

.aui-button_green:active,
.aui-button_green:link:active {
  background: #829a3a;
}

.aui-button_green:disabled,
.aui-button_green:hover:disabled {
  background: #a3bd49;
  opacity: 0.33;
}

@media (hover: hover) {
  .aui-button_green:link:hover,
  .aui-button_green:hover {
    background: #829a3a;
  }
}
