.aui-button_transparent-yellow {
  background: transparent;
  border: 1px solid #ba8c4a;
  color: #ba8c4a;
}
.aui-button_transparent-yellow:hover {
  color: #fff;
  background: #ba8c4a;
}

.aui-button_transparent-yellow:disabled,
.aui-button_transparent-yellow:hover:disabled {
  opacity: 0.33;
}
