.aui-button_transparent {
  background: transparent;
  border: 1px solid var(--black-l75);
  color: var(--black-l75);
}

.aui-button_transparent:disabled,
.aui-button_transparent:hover:disabled {
  background: transparent;
  color: var(--black-l65);
  border: 1px solid var(--black-l65);
}

@media (hover: hover) {
  .aui-button_transparent:hover {
    color: var(--white);
  }
}
