.aui-text-label_highlighted {
  background-color: transparent;
  border: solid 1px var(--medium-gray);
  color: var(--dark-dark);
}

.aui-text-label_highlighted:link,
.aui-text-label_highlighted:visited {
  color: var(--dark-dark);
}

.aui-text-label_highlighted:hover {
  background-color: var(--very-light-blue);
  border-color: var(--blue);
  color: var(--blue);
}
