.aui-input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 6px 0 0;
  color: var(--black-l22);
  background-color: transparent;
}

.aui-input__field {
  font: inherit;
  padding: 11px 8px;
  border: 1px solid var(--black-l65);
  border-radius: 4px;
  outline: none;
  background-color: inherit;
}

.aui-input__label {
  position: absolute;
  left: 4px;
  top: 0;
  padding: 0 4px;
  background-image: linear-gradient(transparent 50%, var(--white) 50%, var(--white) 55%, transparent 55%);
  transform: translateY(-50%);
}

.aui-input__field::placeholder {
  color: var(--black-l65);
}

.aui-input__field:focus {
  border-color: var(--orange);
}

.aui-input__field:focus + .aui-input__label {
  color: var(--orange);
}

.aui-input__field:placeholder-shown {
  border-color: var(--black-l50);
}

.aui-input__field:placeholder-shown + .aui-input__label {
  display: none;
}

.aui-input__field:required + .aui-input__label::after {
  content: '*';
}

.aui-input__field:disabled {
  color: var(--black-l65);
  cursor: default;
}

.aui-input__field:disabled + .aui-input__label {
  color: var(--black-l65);
}
