.aui-pseudo-button {
  display: inline-block;
}

.aui-pseudo-button__radio {
  display: none;
}

.aui-pseudo-button__label {
  display: block;
  padding: 0 12px;
  line-height: 36px;
  height: 36px;
  color: #5e7491;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px dashed #dde1ed;
  background: #fafafa;
  cursor: pointer;
  transition: 0.2s;
}

.aui-pseudo-button__label:hover,
.aui-pseudo-button__radio:checked + .aui-pseudo-button__label {
  color: #028dd8;
  background: #e3f5ff;
  border-color: #028dd8;
}
