.aui-button_color_blue {
  background: var(--blue-l10);
}
.aui-button_color_blue:hover {
  background: var(--blue);
}

a.aui-button_color_blue {
  color: var(--white);
}
a.aui-button_color_blue:hover {
  color: var(--white);
}

.aui-button_color_clear-blue {
  border-color: var(--blue-l10);
  color: var(--blue-l10);
}
.aui-button_color_clear-blue:hover {
  background: var(--blue-l10);
  color: var(--white);
}

a.aui-button_color_clear-blue {
  color: var(--blue-l10);
}
a.aui-button_color_clear-blue:hover {
  color: var(--white);
}

.aui-button_color_orange {
  background: var(--orange-l10);
}
.aui-button_color_orange:hover {
  background: var(--orange);
}

.aui-button_color_orange-original {
  background: var(--orange);
}
.aui-button_color_orange-original:hover {
  background: var(--orange-l10);
}

.aui-button_color_clear-orange-original {
  border-color: var(--orange);
  color: var(--orange);
}
.aui-button_color_clear-orange-original:hover {
  border-color: var(--orange-l10);
  color: var(--orange-l10);
  background: var(--white);
}

a.aui-button_color_orange {
  color: var(--white);
}
a.aui-button_color_orange:hover {
  color: var(--white);
}

.aui-button_color_clear-orange {
  border-color: var(--orange-l10);
  color: var(--orange-l10);
}
.aui-button_color_clear-orange:hover {
  background: var(--orange-l10);
  color: var(--white);
}

a.aui-button_color_clear-orange {
  color: var(--orange-l10);
}
a.aui-button_color_clear-orange:hover {
  color: var(--white);
}

.aui-button_color_blue-original {
  background: var(--blue);
}
.aui-button_color_blue-original:hover {
  background: var(--blue-d10);
}

a.aui-button_color_blue-original {
  color: var(--white);
}
a.aui-button_color_blue-original:hover {
  color: var(--white);
}

.aui-button_color_clear-blue-original {
  border-color: var(--blue);
  color: var(--blue);
}
.aui-button_color_clear-blue-original:hover {
  background: var(--blue);
  color: var(--white);
}
