.aui-admin-battery {
  width: 170px;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px 0px;
  background-color: var(--admin-white);
}

.aui-admin-battery__content {
  box-sizing: border-box;
}

.aui-admin-battery__arrow {
  background: url(de68c7df611e720f8966e955e67c7704.svg) center no-repeat;
  width: 35px;
  cursor: pointer;
}

.aui-admin-battery__arrow_closed {
  transform: rotate(180deg);
}

.aui-admin-battery__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--admin-light-dark);
  margin-bottom: 15px;
  padding-top: 20px;
}

.aui-admin-battery__battery {
  height: 120px;
  width: 65px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 3px solid var(--admin-battery-grey);
  border-radius: 6px;
  position: relative;
  margin-left: 15px;
}

.aui-admin-battery__battery::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 14px;
  height: 5px;
  width: 30px;
  background-color: var(--admin-battery-grey);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.aui-admin-battery__fill {
  width: 55px;
  background-color: var(--admin-battery-fill);
  margin-bottom: 2px;
}

.aui-admin-battery__percent {
  color: var(--admin-blue);
  font-size: 34px;
  line-height: 46px;
  font-weight: 700;
  padding-left: 15px;
}

.aui-admin-battery__conditions {
  width: 80%;
  font-size: 12px;
  color: var(--admin-light-dark);
  line-height: 18px;
  margin-bottom: 10px;
}

.aui-admin-battery__condition {
  display: flex;
}

.aui-admin-battery__condition-text {
  word-spacing: unset;
  display: table-caption;
}

.aui-admin-battery__contition-percent {
  white-space: nowrap;
  font-weight: bold;
}

.aui-admin-battery__contition-percent_one-sign {
  margin-right: 12px;
}

.aui-admin-battery__contition-percent_two-signs {
  margin-right: 6px;
}

.aui-admin-battery__link {
  color: var(--admin-blue);
  font-size: 12px;
  line-height: 18px;
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
.aui-admin-battery__link::before {
  content: url(d22d9d7905b7ef5d15da28a9fcdfabdc.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 0;
}

@media (max-width: 800px) {
  .aui-admin-battery {
    width: 80px;
  }
  .aui-admin-battery__content {
    padding-top: 18px;
  }
  .aui-admin-battery__title {
    display: none;
  }
  .aui-admin-battery__battery {
    width: 40px;
    height: 80px;
    margin-left: 10px;
  }
  .aui-admin-battery__battery::before {
    width: 18px;
    left: 8px;
  }
  .aui-admin-battery__fill {
    width: 34px;
  }
  .aui-admin-battery__conditions {
    padding-left: 5px;
  }
  .aui-admin-battery__condition {
    flex-direction: column;
    margin-bottom: 12px;
  }
  .aui-admin-battery__link {
    display: none;
  }
  .aui-admin-battery__percent {
    font-size: 18px;
    line-height: 25px;
    padding-left: 10px;
    margin-bottom: 6px;
  }
  .aui-admin-battery__arrow {
    width: 12px;
    background-size: 70%;
  }
}

