.aui-admin-link {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px dotted var(--admin-blue);
  color: var(--admin-blue);
  font-size: 13px;
  font-weight: 700;
  line-height: 23px;
  cursor: pointer;
}

.aui-admin-link_normal {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

