.aui-admin-text-input {
  position: relative;
}

.aui-admin-text-input__field {
  display: block;
  width: 100%;
  border: 1px solid var(--admin-light-grey);
  box-sizing: border-box;
  height: 40px;
  padding: 0 30px 0 10px;
  outline: 0;
}

.aui-admin-text-input__field_invalid {
  border: 1px solid var(--admin-dim-red);
}

.aui-admin-text-input__field:focus {
  border: 1px solid var(--admin-blue);
}
.aui-admin-text-input__field::placeholder {
  color: var(--admin-grey);
}

.aui-admin-text-input__counter {
  position: absolute;
  line-height: 40px;
  bottom: 0;
  right: 10px;
  font-size: 12px;
}

.aui-admin-text-input__counter_valid {
  color: var(--admin-grey);
}

.aui-admin-text-input__counter_invalid {
  color: var(--admin-dim-red);
}

