.aui-admin-toolbar-button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--admin-light-blue-runner);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 36px;
  cursor: pointer;
  border-radius: 3px;
}

.aui-admin-toolbar-button:before {
  content: '';
  background-color: var(--admin-light-blue-dark);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.aui-admin-toolbar-button:hover:before {
  background-color: var(--admin-white);
}

.aui-admin-toolbar-button_edit:before {
  -webkit-mask-image: url(be98ef7d11a0f9ef99cade63769d6783.svg);
  mask-image: url(be98ef7d11a0f9ef99cade63769d6783.svg);
  width: 17px;
  height: 17px;
}

.aui-admin-toolbar-button_edit:hover {
  background-color: var(--admin-blue);
}

.aui-admin-toolbar-button_remove:before {
  -webkit-mask-image: url(ba34c8eb1127115501741b5b31e704c9.svg);
  mask-image: url(ba34c8eb1127115501741b5b31e704c9.svg);
  width: 14px;
  height: 15px;
}

.aui-admin-toolbar-button_remove:hover {
  background-color: var(--admin-dim-red);
}

.admin-toolbar-button_small {
  width: 36px;
  height: 24px;
}

.admin-toolbar-button_small::before {
  width: 12px;
  height: 12px;
}

