.aui-admin-image-preview {
  height: 168px;
  width: 168px;
  text-align: center;
  background: var(--admin-very-light-grey);
  border-radius: 3px;
  position: relative;
  display: flex;
}

.aui-admin-image-preview__image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.aui-admin-image-preview__delete-button {
  background: var(--admin-white);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: solid 1px var(--admin-sea-grey);
}

.aui-admin-image-preview__delete-button:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;;
  -webkit-mask-image: url(ad9a45fe976abbdd66f406df0508d3e9.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(ad9a45fe976abbdd66f406df0508d3e9.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--admin-light-dark);
}

.aui-admin-image-preview__delete-button:hover {
  border-color: var(--admin-red);
}

.aui-admin-image-preview__delete-button:hover:before {
  background-color: var(--admin-red);
}

