.aui-admin-battery-popup {
  width: 654px;
  max-width: 100%;
}

.aui-admin-battery-popup__title {
  color: var(--admin-dark-blue);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}

.aui-admin-battery-popup__content {
  background-color: var(--admin-light-blue);
  padding: 30px 25px;
  border-left: 2px solid var(--admin-blue);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
}

.aui-admin-battery-popup__subtitle {
  font-weight: bold;
  color: var(--admin-blue);
  margin-bottom: 10px;
}

.aui-admin-battery-popup__percent-list {
  color: var(--admin-blue);
  width: 200px;
  margin-bottom: 8px;
}

.aui-admin-battery-popup__percent {
  display: flex;
  justify-content: space-between;
}

.aui-admin-battery-popup__percent-text {
  position: relative;
  padding-left: 30px;
  white-space: nowrap;
}

.aui-admin-battery-popup__percent-number {
  font-weight: bold;
}

.aui-admin-battery-popup__description {
  margin-bottom: 20px;
  font-style: italic;
}

.aui-admin-battery-popup__description-title {
  color: var(--admin-blue);
}

.aui-admin-battery-popup__description-list {
  padding-left: 10px;
  color: var(--admin-light-dark);
}

.aui-admin-battery-popup__point {
  position: relative;
  padding-left: 10px;
}
.aui-admin-battery-popup__point::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--admin-light-dark);
}

.aui-admin-battery-popup__hint {
  color: var(--admin-blue);
}

.aui-admin-battery-popup__percent-text_exists::before {
  content: url(635238988ddeba5ce9eec64e43759c0e.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.aui-admin-battery-popup__percent-text_full-desc::before {
  content: url(831098d79b79e36f74c7212c7cb053b8.svg);
  position: absolute;
  top: 0;
  left: 3px;
}

.aui-admin-battery-popup__percent-text_photo::before {
  content: url(d61fef2f3b2751c53f5abb1af49e38e6.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.aui-admin-battery-popup__percent-text_price::before {
  content: url(fb69470c8d77bdb09c4a8f27b73b1a62.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.aui-admin-battery-popup__percent-text_short-desc::before {
  content: url(b3fd0e74afa573df9997300a1f8377b4.svg);
  position: absolute;
  top: 0;
  left: 3px;
}

