.aui-admin-edit-button {
  background-image: url(1a42525ce8526a4e4fb84220ffe8151a.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--admin-light-blue-runner);
  border: 0;
  width: 68px;
  height: 36px;
  cursor: pointer;
  border-radius: 3px;
}

