.aui-admin-moderation-button {
  width: 40px;
  height: 40px;
  background-color: var(--admin-white);
  border: 0;
}

.aui-admin-moderation-button_accept {
  background-image: url(2dc608ee6c71f77ef6ccd7acccac6c43.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.aui-admin-moderation-button_postpone {
  background-image: url(e705d3c68b367fd44814c1c84e1ff231.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.aui-admin-moderation-button_decline {
  background-image: url(b0c833495828da2c8366ff8412bd74df.svg);
  background-position: center;
  background-repeat: no-repeat;
}

