.aui-admin-warning-info {
  font-size: 13px;
  color: var(--admin-light-dark);
  position: relative;
  padding-left: 18px;
}
.aui-admin-warning-info::before {
  content: url(a8fd4a0d449f0725ebcaef3c7d8c7f34.svg);
  width: 13px;
  height: 13px;
  position: absolute;
  top: 1px;
  left: 0;
}

