.aui-app-button {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 48px;
  border: 1px solid #028dd8;
  border-radius: 3px;
  box-sizing: border-box;
  transition: .2s;
}
.aui-app-button:hover,
.aui-app-button:focus,
.aui-app-button:before {
  background-color: #028dd8;
}
.aui-app-button:before {
  content: '';
  display: block;
  position: absolute;
}
.aui-app-button:hover:before,
.aui-app-button:focus:before {
  background-color: #fff;
}
.aui-app-button_google-play:after {
  content: '';
  position: absolute;
  background: url(8979a4ff4c349d260d168a1f9befc9a2.svg) 50% / contain no-repeat;
  width: 24px;
  height: 27px;
  top: 9px;
  left: 35px;
}
.aui-app-button_google-play:before {
  -webkit-mask-box-image: url(88ee9228f560b0512ed67952899218af.svg);
  mask-image: url(88ee9228f560b0512ed67952899218af.svg);
  width: 81px;
  height: 29px;
  top: 10px;
  right: 32px;
}
.aui-app-button_app-store:before {
  -webkit-mask-box-image: url(cedfe8372f985d91695fcb203e7a8343.svg);
  mask-image: url(cedfe8372f985d91695fcb203e7a8343.svg);
  width: 110px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aui-app-button_white {
  border-color: #fff;
}

.aui-app-button_white:hover,
.aui-app-button_white:focus,
.aui-app-button_white:before {
  background-color: #fff;
}

.aui-app-button_white:hover:before,
.aui-app-button_white:focus:before {
  background-color: #028dd8;
}

.aui-app-button_dark {
  border-color: #2f3644;
  background: #2f3644;
}
.aui-app-button_dark:before {
  background-color: #fff;
}
.aui-app-button_dark:hover {
  border-color: #028dd8;
}

.aui-app-button {
  border: 1px solid var(--blue);
}
.aui-app-button:hover,
.aui-app-button:focus,
.aui-app-button:before {
  background-color: var(--blue);
}
.aui-app-button:hover:before,
.aui-app-button:focus:before {
  background-color: var(--white);
}

.aui-app-button_white {
  border-color: var(--white);
}

.aui-app-button_white:hover,
.aui-app-button_white:focus,
.aui-app-button_white:before {
  background-color: var(--white);
}

.aui-app-button_white:hover:before,
.aui-app-button_white:focus:before {
  background-color: var(--blue);
}

.aui-app-button_dark {
  border-color: var(--dark-dark);
  background: var(--dark-dark);
}
.aui-app-button_dark:before {
  background-color: var(--white);
}
.aui-app-button_dark:hover {
  border-color: var(--blue);
}

