.aui-base-block {
  display: block;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 6px rgba(0, 0, 0, 0.08),
    0 8px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 766px) {
  .aui-base-block_adaptive {
    margin-top: 24px;
    padding: 16px;
    background-color: var(--black-l98);
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}

.aui-base-block_orange {
  box-shadow: 0 1px 2px rgba(255, 102, 0, 0.08),
    0 2px 6px rgba(255, 102, 0, 0.08), 0 8px 20px rgba(255, 102, 0, 0.1);
}

