.aui-button-link {
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
  text-decoration: underline;
}

.aui-button-link {
  text-decoration: none;
  color: var(--gray);
}

.aui-button-link:hover { color: var(--blue); }

.aui-button-link_dashed { border-bottom: 1px dashed; }

.aui-button-link_dashed:hover { color: var(--orange); }

