.aui-button {
  display: inline-block;
  cursor: pointer;

  background: #bbb;
  color: #fff;

  outline: none;
  border: none;
  border-radius: 3px;

  padding: 12px 24px;

  transition: background 0.5s;

  font-size: 14px;
  text-decoration: none;

  -webkit-appearance: none;
}

@media (hover: hover) {
  .aui-button:hover { background: #aaa; }
}

.aui-button:disabled,
.aui-button:hover:disabled {
  background: #a6a6a6;
  cursor: auto;
}

.aui-button_small { padding: 6px 12px; }

.aui-button_huge,
.aui-button_huge:link,
.aui-button_huge:visited {
  padding: 0 36px;
  height: 60px;
  line-height: 60px;
  font-weight: 600;
}

.aui-button_wide { width: 100%; }

.aui-button_transparent {
  background: transparent;
  border: 1px solid #bbb;
  color: #bbb;
}
.aui-button_transparent:hover { color: #fff; }

.aui-button_transparent:disabled,
.aui-button_transparent:hover:disabled {
  background: transparent;
  border-color: #a6a6a6;
  color: #a6a6a6;
}

.aui-button_transparent-grey {
  background: transparent;
  border: 1px solid #a2a9b4;
  color: #5e7491;
}
.aui-button_transparent-grey:hover {
  color: #fff;
  background: #a2a9b4;
}

.aui-button_transparent-grey:disabled,
.aui-button_transparent-grey:hover:disabled {
  opacity: .33;
}

.aui-button_transparent-yellow {
  background: transparent;
  border: 1px solid #ba8c4a;
  color: #ba8c4a;
}
.aui-button_transparent-yellow:hover {
  color: #fff;
  background: #ba8c4a;
}

.aui-button_transparent-yellow:disabled,
.aui-button_transparent-yellow:hover:disabled {
  opacity: .33;
}

.aui-button_green {
  background: #a3bd49;
  color: #fff;
}
.aui-button_green:hover {
  background: #829a3a;
}

.aui-button_green:disabled,
.aui-button_green:hover:disabled {
  background: #a3bd49;
  opacity: .33;
}

.aui-button,
.aui-button:visited,
.aui-button:link {
  background: var(--blue);
  color: var(--white);
  height: 36px;
  line-height: 36px;
  padding: 0 var(--indent-m);
  box-sizing: border-box;
}

.aui-button:active,
.aui-button:link:active { 
  background: var(--dark-blue); 
}

.aui-button:disabled,
.aui-button:hover:disabled,
.aui-button_disabled,
.aui-button_disabled:hover {
  opacity: .33;
  cursor: default;
  pointer-events: none;
}

@media (hover: hover) {
  .aui-button:hover,
  .aui-button:link:hover { 
    background: var(--dark-blue); 
  }
}

.aui-button_small {
  padding: 0 18px;
  font-size: 12px;
}

.aui-button_big,
.aui-button_big:link,
.aui-button_big:visited {
  padding: 0 var(--indent-l);
  height: var(--indent-xl);
  line-height: var(--indent-xl);
}

@media all and (max-width: 767px) {
  .aui-button_big,
  .aui-button_big:link {
    padding: 0 var(--indent-m);
  }
}

.aui-button_huge,
.aui-button_huge:link,
.aui-button_huge:visited {
  padding: 0 var(--indent-l);
  height: var(--indent-xxl);
  line-height: var(--indent-xxl);
}

.aui-button_transparent,
.aui-button_transparent:visited,
.aui-button_transparent:link {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.aui-button_transparent:active { background: var(--dark-blue); color: var(--white); }

@media (hover: hover) {
  .aui-button_transparent:hover { background: var(--dark-blue); color: var(--white); }
}

.aui-button_transparent-grey,
.aui-button_transparent-grey:link,
.aui-button_transparent-grey:visited {
  background: transparent;
  border: 1px solid var(--extra-light-dark);
  color: var(--light-blue-dark);
}
.aui-button_transparent-grey:active {
  color: var(--white);
  background: var(--extra-light-dark);
}

@media (hover: hover) {
  .aui-button_transparent-grey:hover {
    color: var(--white);
    background: var(--extra-light-dark);
  }
}

.aui-button_transparent-yellow,
.aui-button_transparent-yellow:link,
.aui-button_transparent-yellow:visited {
  background: transparent;
  border: 1px solid var(--dark-yellow);
  color: var(--dark-yellow);
}
.aui-button_transparent-yellow:active {
  color: var(--white);
  background: var(--dark-yellow);
}

@media (hover: hover) {
  .aui-button_transparent-yellow:hover {
    color: var(--white);
    background: var(--dark-yellow);
  }
}

.aui-button_green {
  background: var(--medium-green);
  color: var(--white);
}
.aui-button_green:active {
  background: var(--green);
}

.aui-button_green:disabled,
.aui-button_green:hover:disabled {
  background: var(--medium-green);
}

@media (hover: hover) {
  .aui-button_green:hover {
    background: var(--green);
  }
}

.aui-button_gray,
.aui-button_gray:link {
  background: var(--medium-gray);
  color: var(--light-blue-dark);
}
.aui-button_gray:active,
.aui-button_gray:link:active {
  background: var(--extra-light-blue-dark);
}

@media (hover: hover) {
  .aui-button_gray:hover {
    background: var(--extra-light-blue-dark);
  }
}

.aui-button_chat,
.aui-button_chat:link,
.aui-button_chat:visited {
  position: relative;
  color: var(--blue);
  background: transparent;
  border: 1px solid var(--blue);
  padding: 0 var(--indent-m) 0 var(--indent-l);
}
.aui-button_chat:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: var(--green);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(168, 189, 71, 0), 0 0 0 6px rgba(238, 246, 210, 0);
  animation: chat-button-blinking 1.2s alternate infinite;
}
.aui-button_chat:active{
  color: var(--white);
  background: var(--dark-blue);
}
.aui-button_chat:active:before {
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0);
  animation: chat-button-blinking-active 1.2s alternate infinite;
}

@media (hover: hover) {
  .aui-button_chat:hover {
    color: var(--white);
    background: var(--dark-blue);
  }
  .aui-button_chat:hover:before {
    background: var(--white);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0);
    animation: chat-button-blinking-active 1.2s alternate infinite;
  }
}

@keyframes chat-button-blinking {
  0% { box-shadow: 0 0 0 0 rgba(168, 189, 71, .2), 0 0 0 0 rgba(238, 246, 210, .5); }
  100% { box-shadow: 0 0 0 3px rgba(168, 189, 71, .4), 0 0 0 6px rgba(238, 246, 210, 1); }
}
@keyframes chat-button-blinking-active {
  0% { box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0); }
  100% { box-shadow: 0 0 0 3px rgba(255, 255, 255, .5), 0 0 0 6px rgba(255, 255, 255, .2); }
}

.aui-button_cart,
.aui-button_cart:link {
  position: relative;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding-left: 60px;
  white-space: nowrap;
}
.aui-button_cart:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 17px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-mask-image: url(2bc2f472b09bfde29e76b67b304bbea8.svg);
  mask-image: url(2bc2f472b09bfde29e76b67b304bbea8.svg);
  background-color: var(--blue);
}
.aui-button_cart:active {
  color: var(--white);
}
.aui-button_cart:active:before {
  background-color: var(--white);
}

@media all and (max-width: 767px) {
  .aui-button_cart,
  .aui-button_cart:link {
    padding-left: var(--indent-xl);
  }
  .aui-button_cart:before,
  .aui-button_cart:link:before {
    left: 22px;
  }
}
@media (hover: hover) {
  .aui-button_cart:hover {
    color: var(--white);
  }
  .aui-button_cart:hover:before {
    background-color: var(--white);
  }
}

.aui-button_cart-with-item {
  position: relative;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding-left: 60px;
  white-space: nowrap;
}
.aui-button_cart-with-item:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 19px;
  left: 30px;
  top: 50%;
  background: url(32103d156607b9253859730eee648fcd.svg);
  background-color: transparent;
  mask-image: none;
}
.aui-button_cart-with-item:active {
  color: var(--white);
}
.aui-button_cart-with-item:active:before {
  background-color: transparent;
}

@media all and (max-width: 767px) {
  .aui-button_cart-with-item {
    padding-left: var(--indent-xl);
  }
  .aui-button_cart-with-item:before {
    left: 22px;
  }
}
@media (hover: hover) {
  .aui-button_cart-with-item:hover {
    color: var(--white);
  }
  .aui-button_cart-with-item:hover:before {
    background-color: transparent;
  }
}

.aui-button_callback {
  position: relative;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 0 var(--indent-l) 0 60px;
}
.aui-button_callback:before {
  content: '';
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 15px;
  -webkit-mask-image: url(89aadacfe8ce3cbedbec0cdc7a3f23cc.svg);
  mask-image: url(89aadacfe8ce3cbedbec0cdc7a3f23cc.svg);
  background-color: var(--blue);
}

@media screen and (max-width: 1365px) {
  .aui-button_callback {
    padding: 0;
    font-size: 0;
    width: 54px;
  }
  .aui-button_callback:before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (hover: hover) {
  .aui-button_callback:hover { color: var(--white); }
  .aui-button_callback:hover:before { 
    background-color: var(--white); 
  }
}

.aui-button_only-icon {
  width: 48px;
  padding: 0;
  font-size: 0;
}
.aui-button_only-icon:before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

