.aui-button-new {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: Arial;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.aui-button-new:disabled {
  background: var(--black-l95);
  cursor: inherit;
  color: var(--black-l65);
  border: none;
}

.aui-button-new_size_l {
  padding: 10px 0;
  height: 48px;
  font-size: 16px;
  line-height: 18px;
}

.aui-button-new_size_m {
  padding: 10px 0;
  height: 38px;
  font-size: 14px;
  line-height: 16px;
}

.aui-button-new_size_s {
  padding: 8px 0;
  height: 30px;
  font-size: 14px;
  line-height: 16px;
}

.aui-button-new_color_red-dark-101 {
  background: var(--red-d101);
}

.aui-button-new_color_orange-light-10 {
  background: var(--orange-l10);
}

.aui-button-new_clear-color_red-dark-101 {
  border-color: var(--red-d101);
  color: var(--red-d101);
}

.aui-button-new_clear-color_orange-light-10 {
  border-color: var(--orange-l10);
  color: var(--orange-l10);
}

.aui-button-new_color_red-main {
  background: var(--red-main);
}

.aui-button-new_clear-color_red-main {
  border-color: var(--red-main);
  color: var(--red-main);
}

.aui-button-new_clear {
  border: 1px solid;
  background: transparent;
}

