.aui-button {
  display: inline-block;
  cursor: pointer;

  background: #bbb;
  color: #fff;

  outline: none;
  border: none;
  border-radius: 3px;

  padding: 12px 24px;

  transition: background 0.5s;

  font-size: 14px;
}

.aui-button:hover { background: #aaa; }

.aui-button:disabled,
.aui-button:hover:disabled {
  background: #a6a6a6;
  cursor: auto;
}

.aui-button_small { padding: 6px 12px; }

.aui-button_wide { width: 100%; }

.aui-button_transparent {
  background: transparent;
  border: 1px solid #bbb;
  color: #bbb;
}
.aui-button_transparent:hover { color: #fff; }

.aui-button_transparent:disabled,
.aui-button_transparent:hover:disabled {
  background: transparent;
  border-color: #a6a6a6;
  color: #a6a6a6;
}

.aui-button { background: var(--blue); }

.aui-button:hover,
.aui-button:active { background: var(--dark-blue); }

.aui-button_transparent {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.aui-button_big {
  padding: 16px 24px;
}

.aui-button_cart {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}
.aui-button_cart:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 17px;
  margin-right: var(--indent-s);
  -webkit-mask-image: url(2bc2f472b09bfde29e76b67b304bbea8.svg);
  mask-image: url(2bc2f472b09bfde29e76b67b304bbea8.svg);
  background-color: var(--blue);
}
.aui-button_cart:hover {
  color: var(--white);
}
.aui-button_cart:hover:before {
  background-color: var(--white);
}

.aui-button_callback {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}
.aui-button_callback:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 15px;
  -webkit-mask-image: url(89aadacfe8ce3cbedbec0cdc7a3f23cc.svg);
  mask-image: url(89aadacfe8ce3cbedbec0cdc7a3f23cc.svg);
  margin-right: var(--indent-s);
  background-color: var(--blue);
}
.aui-button_callback:hover {
  color: var(--white);
}
.aui-button_callback:hover:before {
  background-color: var(--white);
}
@media screen and (max-width: 1365px) {
  .aui-button_callback {
    padding: var(--indent-s);
    font-size: 0;
  }
  .aui-button_callback:before {
    margin: 5px 9px;
  }
}

.aui-button_small {
  padding: 9px 18px;
  font-size: 10px;
  line-height: 15px;
  font-weight: bold;
}

.aui-button_chat {
  position: relative;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: var(--indent-s);
  width: 52px;
  height: 50px;
  box-sizing: border-box;
}
.aui-button_chat:before {
  content: '';
  width: 22px;
  height: 17px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -11px;
  -webkit-mask-image: url(1a9de8f77ed793bac36126706ac69e71.svg);
  mask-image: url(1a9de8f77ed793bac36126706ac69e71.svg);
  background-color: var(--blue);
}
.aui-button_chat:after {
  content: '';
  position: absolute;
  top: 6px;
  right: 6px;
  width: 6px;
  height: 6px;
  background: var(--green);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(168, 189, 71, 0), 0 0 0 6px rgba(238, 246, 210, 0);
  animation: chat-button-blinking 1.2s alternate infinite;
}
.aui-button_chat:hover {
  color: var(--white);
}
.aui-button_chat:hover:before {
  background-color: var(--white);
}
.aui-button_chat:hover:after {
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0);
  animation: chat-button-blinking-active 1.2s alternate infinite;
}

@keyframes chat-button-blinking {
  0% { box-shadow: 0 0 0 0 rgba(168, 189, 71, .2), 0 0 0 0 rgba(238, 246, 210, .5); }
  100% { box-shadow: 0 0 0 3px rgba(168, 189, 71, .4), 0 0 0 6px rgba(238, 246, 210, 1); }
}
@keyframes chat-button-blinking-active {
  0% { box-shadow: 0 0 0 3px rgba(255, 255, 255, 0), 0 0 0 6px rgba(255, 255, 255, 0); }
  100% { box-shadow: 0 0 0 3px rgba(255, 255, 255, .5), 0 0 0 6px rgba(255, 255, 255, .2); }
}

