.aui-button {
  display: inline-block;
  cursor: pointer;

  background: #bbb;
  color: #fff;

  outline: none;
  border: none;
  border-radius: 3px;

  padding: 12px 24px;

  transition: background 0.5s;
}

.aui-button:hover { background: #aaa; }

.aui-button_small { padding: 6px 12px; }

.aui-button_wide { width: 100%; }

.aui-button_transparent {
  background: transparent;
  border: 1px solid #bbb;
  color: #bbb;
}
.aui-button_transparent:hover { color: #fff; }

.aui-button { background: var(--light-blue); }

.aui-button:hover { background: var(--blue); }
.aui-button:active { background: var(--dark-blue); }

.aui-button_transparent {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}

