.aui-close-button {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

.aui-close-button:active {
  opacity: 0.6;
}

.aui-close-button::before,
.aui-close-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 22px;
  height: 1px;
  background-color: currentColor;
}

.aui-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.aui-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}


