.aui-cs-button,
.aui-cs-button:visited,
.aui-cs-button:link {
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
  text-decoration: none;
  color: var(--white);
  height: 36px;
  line-height: 36px;
  background: var(--blue);
  transition: background 0.5s;
  padding: 0 var(--indent-m);
  outline: none;
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  cursor: pointer;
}

.aui-cs-button:active,
.aui-cs-button:link:active {
  background: var(--dark-blue);
}

.aui-cs-button:disabled,
.aui-cs-button:hover:disabled,
.aui-cs-button_disabled,
.aui-cs-button_disabled:hover {
  background: var(--admin-checkbox-border-color);
  opacity: .33;
  cursor: default;
  pointer-events: none;
}

@media (hover: hover) {
  .aui-cs-button:hover,
  .aui-cs-button:link:hover {
    background: var(--dark-blue);
  }
}

.aui-cs-button_medium {
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  padding: 0 var(--indent-l);
}

.aui-cs-button_big,
.aui-cs-button_big:visited,
.aui-cs-button_big:link {
  height: 48px;
  padding: 0 var(--indent-xxl);
  font-size: 16px;
  line-height: 48px;
  font-weight: 700;
  border-radius: 6px;
}

.aui-cs-button_small {
  padding: 0 var(--indent-m);
  border-radius: 6px;
}

.aui-cs-button_transparent,
.aui-cs-button_transparent:visited,
.aui-cs-button_transparent:link {
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}

.aui-cs-button_transparent:active {
  background: var(--dark-blue);
  color: var(--white);
}

.aui-cs-button_transparent:disabled,
.aui-cs-button_transparent:hover:disabled {
  background: transparent;
  border-color: var(--admin-checkbox-border-color);
  color: var(--admin-checkbox-border-color);
}

@media (hover: hover) {
  .aui-cs-button_transparent:hover {
    background: var(--dark-blue);
    color: var(--white);
  }
}

.aui-cs-button_callback {
  position: relative;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 0 var(--indent-l) 0 60px;
}
.aui-cs-button_callback:before {
  content: '';
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 16px;
  -webkit-mask-image: url(7a1e2915ffeb4adb688fb17b8aadd331.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url(7a1e2915ffeb4adb688fb17b8aadd331.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--blue);
}

@media screen and (max-width: 1365px) {
  .aui-cs-button_callback {
    padding: 0;
    font-size: 0;
    width: 54px;
  }
  .aui-cs-button_callback:before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (hover: hover) {
  .aui-cs-button_callback:hover { color: var(--white); }
  .aui-cs-button_callback:hover:before {
    background-color: var(--white); 
  }
}

.aui-cs-button_callback-big::before {
  width: 14px;
  height: 20px;
}

.aui-cs-button_wide {
  width: 100%;
}

.aui-cs-button_thin,
.aui-cs-button_thin:visited,
.aui-cs-button_thin:link {
  height: 32px;
  padding: 0 var(--indent-s);
  line-height: 32px;
  font-weight: bold;
}

.aui-cs-button_only-icon {
  width: 48px;
  padding: 0;
  font-size: 0;
}
.aui-cs-button_only-icon:before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.aui-cs-button_square {
  width: 40px;
  height: 40px;
}

.aui-cs-button_square-big {
  width: 48px;
  height: 48px;
  border-radius: 6px;
}

