.aui-cs-button-link {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  border: none;
  cursor: pointer;
  padding: 0 var(--indent-xs);
  border-radius: 2px;
}

.aui-cs-button-link,
.aui-cs-button-link:link,
.aui-cs-button-link:visited,
.aui-cs-button-link:hover,
.aui-cs-button-link:active {
  color: var(--light-blue-dark);
  text-decoration: none;
  background-color: var(--medium-gray);
}

.aui-cs-button-link_edit {
  position: relative;
  padding-right: var(--indent-m);
}

.aui-cs-button-link_edit::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  right: var(--indent-xs);
  transform: translateY(-50%);
  -webkit-mask-image: url(507c4e841d0612360bb807b22af541ca.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url(507c4e841d0612360bb807b22af541ca.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--light-blue-dark);
}

.aui-cs-button-link_add {
  position: relative;
  padding-left: var(--indent-m);
}

.aui-cs-button-link_add::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: var(--indent-xs);
  transform: translateY(-50%);
  -webkit-mask-image: url(b76861678c14ae242327d5ed71250b54.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url(b76861678c14ae242327d5ed71250b54.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--light-blue-dark);
}

.aui-cs-button-link_delete {
  position: relative;
  padding-right: var(--indent-m);
}

.aui-cs-button-link_delete::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  right: var(--indent-xs);
  transform: translateY(-50%);
  -webkit-mask-image: url(45a487eea3b60049275110fc97d9ff04.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url(45a487eea3b60049275110fc97d9ff04.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--light-blue-dark);
}

.aui-cs-button-link_password {
  position: relative;
  padding-right: var(--indent-m);
}

.aui-cs-button-link_password::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 12px;
  top: 50%;
  right: var(--indent-s);
  transform: translateY(-50%);
  -webkit-mask-image: url(4f4b7756ba19b7a4ee86a8dbbc00bd3f.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url(4f4b7756ba19b7a4ee86a8dbbc00bd3f.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: var(--light-blue-dark);
}

