.cs-aui-link,
.cs-aui-link:link,
.cs-aui-link:visited {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
}

.cs-aui-link:hover {
  color: var(--dark-blue);
}

.cs-aui-link:before {
  background-color: var(--blue);
}

.cs-aui-link:hover:before {
  background-color: var(--dark-blue);
}

.cs-aui-link_dark,
.cs-aui-link_dark:link,
.cs-aui-link_dark:visited {
  color: var(--dark-dark);
}

.cs-aui-link_dark:hover {
  color: var(--d2020-dusky-azure);
}

.cs-aui-link_dark::before {
  background-color: var(--blue);
}

.cs-aui-link_dark:hover::before {
  background-color: var(--d2020-dusky-azure);
}

.cs-aui-link_gray,
.cs-aui-link_gray:link,
.cs-aui-link_gray:visited {
  color: var(--light-dark);
}

.cs-aui-link_gray:hover {
  color: var(--d2020-dusky-azure);
}

.cs-aui-link_gray::before {
  background-color: var(--light-dark);
}

.cs-aui-link_gray:hover::before {
  background-color: var(--d2020-dusky-azure);
}

