.aui-empty-img {
  width: 60px;
  height: 60px;
  background: url(eaa5854e63962e7131de894e2a7f6189.svg) center no-repeat;
}

.aui-empty-img_big {
  background: url(cb732c8a1a802ef17e908060ce907f7e.svg) center no-repeat;
  background-size: 60px;
}

