.aui-empty-img {
  width: 60px;
  height: 60px;
  background: url(eaa5854e63962e7131de894e2a7f6189.svg) center no-repeat;
}

.aui-empty-img_big {
  background: url(3828b90971023ceed290360db5242a6d.svg) center no-repeat;
  background-size: 60px;
}

