.aui-favorite-button {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background: none;
  color: var(--black-l50);
  cursor: pointer;
}

.aui-favorite-button:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-image: url(7d352c4e328ff6f5e2ddccf8a68f8285.svg);
}

.aui-favorite-button[data-is-favorite="true"]::after {
  background-image: url(dcecad1d16da72c154e94edb46ee5eac.svg);
}

@media (hover: hover) {
  .aui-favorite-button[data-is-favorite="false"]:hover::after {
    background-image: url(907f60060a26bbb8ffe25ad9a2ed7aa7.svg);
  }
}

.aui-favorite-button_cart {
  width: 20px;
  height: 20px;
  mask-image: url(d5e24cbcbeece41fd54356bfa6c5ab22.svg);
  mask-repeat: no-repeat;
  -webkit-mask-image: url(d5e24cbcbeece41fd54356bfa6c5ab22.svg);
  -webkit-mask-repeat: no-repeat;
  background-color: var(--black-l65);
}

.aui-favorite-button_cart::after {
  content: none;
}

.aui-favorite-button_cart:hover {
  background-color: var(--orange);
}

.aui-favorite-button_cart[data-is-favorite="true"] {
  background-color: var(--orange);
  background-image: none;
}

.aui-favorite-button_mobile {
  width: 24px;
  height: 24px;
}

.aui-favorite-button_mobile::after {
  width: 24px;
  height: 24px;
  background-size: cover;
}

