@font-face {
  font-family: 'Open Sans';
  src: url(7ce00256097ccf0d2c0641fce8a96e57.eot);
  src: local('Open Sans Regular'),
       local('OpenSans-Regular'),
       url(7ce00256097ccf0d2c0641fce8a96e57.eot?#iefix) format('embedded-opentype'),
       url(ce3b96ab2b51255e60d2d1aae633dae3.woff) format('woff'),
       url(a88748791c366be26c9bdf959d583d3f.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url(bacadb8378dc08550ae447f9d04ffbaa.eot);
  src: local('Open Sans Italic'),
       local('OpenSans-Italic'),
       url(bacadb8378dc08550ae447f9d04ffbaa.eot?#iefix) format('embedded-opentype'),
       url(25a2d3298ef3b53912edccb6479ac127.woff) format('woff'),
       url(f129fcb8722314131cf2489577eb79ff.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url(e4dd295071829c9022725f034943525a.eot);
  src: local('Open Sans Semibold'),
       local('OpenSans-Semibold'),
       url(e4dd295071829c9022725f034943525a.eot?#iefix) format('embedded-opentype'),
       url(0cb4787114f012d2daa4645df1811808.woff) format('woff'),
       url(5076adfa1bf9c1e5bac965ace755e798.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url(6dcdccc095ca3d949a5f0b2c05f8bd08.eot);
  src: local('Open Sans Bold'),
       local('OpenSans-Bold'),
       url(6dcdccc095ca3d949a5f0b2c05f8bd08.eot?#iefix) format('embedded-opentype'),
       url(58308bcc8dce00a629bd46305a1c5494.woff) format('woff'),
       url(07986db864a6fdb45564de20fc8b1691.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(b4fb03fe3cd650927a0893b086c99e8d.eot);
  src: local('Open Sans Bold Italic'),
       local('OpenSans-Bold-Italic'),
       url(b4fb03fe3cd650927a0893b086c99e8d.eot?#iefix) format('embedded-opentype'),
       url(a534d6959a153d8946564405b9fdc967.woff) format('woff'),
       url(6010ce021b627be3bdb99e0df053fab1.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


* { font-family: 'Open Sans', sans-serif; }

