.aui-form {}
.aui-form__section { padding: 24px 0; border-top: solid 1px #dde1ed; }

.aui-form__section-label {
  color: #5e7491;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px;
  letter-spacing: .03em;
}

.aui-form__group { }

.aui-form__label-wrapper {
  display: block;
  color: #424b5e;
  font-size: 14px;
  line-height: 24px;
}
.aui-form__label {}
.aui-form__label_required { position: relative; padding-right: 5px; }

.aui-form__label_required:after {
  content: '*';
  position: absolute;
  right: -3px;
}

.aui-form__text-field,
.aui-form__text-area {
  display: block;
  width: 100%;
  border: 1px solid #dde1ed;
  color: #424b5e;
  box-sizing: border-box;
}

.aui-form__text-field {
  padding: 0 12px;
  height: 48px;
  line-height: 48px;
}

.aui-form__text-area { padding: 12px; }

.aui-form__text-field:focus,
.aui-form__text-area:focus { border-color: #028dd8; outline: none; }

.aui-form__text-field::placeholder,
.aui-form__text-area::placeholder{ font-size: 14px; color: #a2a9b4; }

.aui-form__error-message {
  display: none;
  color: #ea5757;
  font-size: 12px;
  line-height: 24px;
}

.aui-form__group_with-error .aui-form__error-message { display: block; }

.aui-form__group_with-error .aui-form__text-area,
.aui-form__group_with-error .aui-form__text-field { border-color: #ea5757; }

.aui-form__input-wrapper { position: relative; }

.aui-form__clean-field {
  position: absolute;
  display: inline-block;
  height: 100%;
  padding: 0 13px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.aui-form__clean-field:before {
  content: '';
  -webkit-mask-box-image: url(f803e621d52d0377411d39bb1c8bee38.svg);
  mask-image: url(f803e621d52d0377411d39bb1c8bee38.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--gray);
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.aui-form__section {
  padding: var(--indent-m) 0;
  border-top: solid 1px var(--medium-gray);
}

.aui-form__section-label {
  color: var(--light-blue-dark);
  margin-bottom: var(--indent-s);
}

.aui-form__label-wrapper { color: var(--medium-dark); }

.aui-form__text-field,
.aui-form__text-area {
  border: 1px solid var(--medium-gray);
  color: var(--medium-dark);
}

.aui-form__text-field {
  padding: 0 var(--indent-s);
  height: var(--indent-xl);
  line-height: var(--indent-xl);
}

.aui-form__text-area { padding: var(--indent-s); }

.aui-form__text-field:focus,
.aui-form__text-area:focus { border-color: var(--blue); }

.aui-form__text-field::placeholder,
.aui-form__text-area::placeholder{ color: var(--extra-light-dark); }

.aui-form__error-message { color: var(--red); }

.aui-form__group_with-error .aui-form__text-area { border-color: var(--red); }

.aui-form__clean-field:before { color: var(--light-blue-dark); }

