.aui-icon::after,
.aui-icon::before {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.aui-icon_small::after,
.aui-icon_small::before {
  width: 16px;
  height: 16px;
}

.aui-icon_company::before,
.aui-icon_company::after {
  mask-image: url(713e064c213e1c341cf2c8bb5e5f25e1.svg);
  -webkit-mask-image: url(713e064c213e1c341cf2c8bb5e5f25e1.svg);
}

.aui-icon_company_color_black::before,
.aui-icon_company_color_black::after {
  background-color: var(--black-l20);
}

.aui-icon_company_color_light-black::before,
.aui-icon_company_color_light-black::after {
  background-color: var(--black-l33);
}

.aui-icon_company_color_orange::before,
.aui-icon_company_color_orange::after {
  background-color: var(--orange);
}

.aui-icon_phone::before,
.aui-icon_phone::after {
  mask-image: url(a77b5c09838fcc943727cef5436abbbf.svg);
  -webkit-mask-image: url(a77b5c09838fcc943727cef5436abbbf.svg);
  background-color: var(--orange);
}

.aui-icon_phone_color_red::before,
.aui-icon_phone_color_red::after {
  background-color: var(--red-d101);
}

.aui-icon_web::before,
.aui-icon_web::after {
  mask-image: url(762c791dcd653726fa8a01c75981416d.svg);
  -webkit-mask-image: url(762c791dcd653726fa8a01c75981416d.svg);
  background-color: var(--orange);
}

.aui-icon_email::before,
.aui-icon_email::after {
  mask-image: url(ffc4fa64bf4263a2009f7b7a2c89e877.svg);
  -webkit-mask-image: url(ffc4fa64bf4263a2009f7b7a2c89e877.svg);
  background-color: var(--orange);
}

.aui-icon_email_color_red::before,
.aui-icon_email_color_red::after {
  background-color: var(--red-d101);
}

.aui-icon_geo::before,
.aui-icon_geo::after {
  mask-image: url(e7898789127865dff7e3b8277bcfdd15.svg);
  -webkit-mask-image: url(e7898789127865dff7e3b8277bcfdd15.svg);
  background-color: var(--orange);
}

.aui-icon_schedule::before,
.aui-icon_schedule::after {
  mask-image: url(2e48ea0074bef3c324bcfd9e73fd9c2b.svg);
  -webkit-mask-image: url(2e48ea0074bef3c324bcfd9e73fd9c2b.svg);
  background-color: var(--orange);
}

.aui-icon_bring::before,
.aui-icon_bring::after {
  mask-image: url(919dd4dcd25352ed352476f6dc841078.svg);
  -webkit-mask-image: url(919dd4dcd25352ed352476f6dc841078.svg);
  background-color: var(--orange);
}

.aui-icon_pay::before,
.aui-icon_pay::after {
  mask-image: url(ce956e97da32633593b3d9f2d0795184.svg);
  -webkit-mask-image: url(ce956e97da32633593b3d9f2d0795184.svg);
  background-color: var(--orange);
}

.aui-icon_delivery::before,
.aui-icon_delivery::after {
  mask-image: url(9843883c0374c596f193599a7e505fc6.svg);
  -webkit-mask-image: url(9843883c0374c596f193599a7e505fc6.svg);
  background-color: var(--orange);
}

.aui-icon_arrow-unwrap::after,
.aui-icon_arrow-unwrap::before {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.aui-icon_arrow-unwrap_hide::after,
.aui-icon_arrow-unwrap_hide::before {
  background-image: url(7e7436a2210e14d5456c64378833d3c0.svg);
}

.aui-icon_arrow-unwrap_hide[data-hide='false']::after,
.aui-icon_arrow-unwrap_hide[data-hide='false']::before {
  background-image: url(0e6a0a08364a38543cc61d1972d8bb87.svg);
}

.aui-icon_arrow-unwrap_unhide::after,
.aui-icon_arrow-unwrap_unhide::before {
  background-image: url(0e6a0a08364a38543cc61d1972d8bb87.svg);
}

.aui-icon_arrow-sort::after,
.aui-icon_arrow-sort::before {
  background-image: url(4342e315f804b0a99becc1d22538ffb8.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.aui-icon_arrow-expand::after,
.aui-icon_arrow-expand::before {
  background-image: url(cac926d4544c9230349d28e3f4cd2ac2.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.aui-icon_arrow-back::after,
.aui-icon_arrow-back::before {
  mask-image: url(fe641f6f3718d8ef2e47901ad0f87c31.svg);
  -webkit-mask-image: url(fe641f6f3718d8ef2e47901ad0f87c31.svg);
}

.aui-icon_arrow-back_color_black::after,
.aui-icon_arrow-back_color_black::before {
  background-color: var(--black-l20);
}

.aui-icon_arrow-back_color_red::after,
.aui-icon_arrow-back_color_red::before {
  background-color: var(--red-d101);
}

.aui-icon_arrow-back_color_gray::after,
.aui-icon_arrow-back_color_gray::before {
  background-color: var(--black-l50);
}

.aui-icon_arrow-outline::after,
.aui-icon_arrow-outline::before {
  background-image: url(dabb998fe532176a6c1142360b11d44b.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.aui-icon_whatsapp::after,
.aui-icon_whatsapp::before {
  mask-image: url(d9bae9fb48f89634cb3751181e1e9322.svg);
  -webkit-mask-image: url(d9bae9fb48f89634cb3751181e1e9322.svg);
  background-color: var(--green-d10);
}

.aui-icon_viber::after,
.aui-icon_viber::before {
  mask-image: url(a9cf6ab4a849510e2aed6a6ec2c3efa4.svg);
  -webkit-mask-image: url(a9cf6ab4a849510e2aed6a6ec2c3efa4.svg);
  background-color: #7e57c2;
}

.aui-icon_telegram::after,
.aui-icon_telegram::before {
  mask-image: url(e9d42a744ce774a6176d6c8b11fe6cbc.svg);
  -webkit-mask-image: url(e9d42a744ce774a6176d6c8b11fe6cbc.svg);
  background-color: var(--blue);
}

.aui-icon_star::after,
.aui-icon_star::before {
  background-image: url(bda3059699d4d4e5896ff50fe51e1c75.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

