.aui-loading-icon {
  background: #ccc;
  mask-image: url(7fbecb1b63cc122390d31f7fe829dd4f.svg);
  -webkit-mask-image: url(7fbecb1b63cc122390d31f7fe829dd4f.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

