.aui-marketing-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
  color: var(--white);
  box-sizing: border-box;
}

.aui-marketing-label_green-dark-20 {
  background-color: var(--green-d20);
}

.aui-marketing-label_red-dark-10 {
  background-color: var(--red-d10);
}

.aui-marketing-label_orange-dark-10 {
  background-color: var(--orange-d10);
}

.aui-marketing-label_purple-dark-20 {
  background-color: var(--purple-d20);
}

.aui-marketing-label_blue-dark-10 {
  background-color: var(--blue-d10);
}

.aui-marketing-label_blue-light-20 {
  background-color: var(--blue-l20);
}

.aui-marketing-label_orange {
  background-color: var(--orange);
}

.aui-marketing-label_amber {
  background-color: var(--amber);
}

.aui-marketing-label_transparent {
  opacity: 0.75;
}

.aui-marketing-label_pink {
  background-color: var(--pink);
}

.aui-marketing-label_lilac {
  background-color: var(--lilac);
}

.aui-marketing-label_orange-d101 {
  background-color: var(--orange-d101);
}

.aui-marketing-label_amber-d101 {
  background-color: var(--amber-d101);
}

.aui-marketing-label_blue-d101 {
  background-color: var(--blue-d101);
}

.aui-marketing-label_purple-d101 {
  background-color: var(--purple-d101);
}

.aui-marketing-label_blue-d102 {
  background-color: var(--blue-d102);
}

.aui-marketing-label_orange-d102 {
  background-color: var(--orange-d102);
}

.aui-marketing-label_red-d102 {
  background-color: var(--red-d102);
}

.aui-marketing-label_green-d202 {
  background-color: var(--green-d202);
}

.aui-marketing-label_desktop {
  position: relative;
  padding: 4px 8px;
  border-radius: 4px 4px 4px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  height: 24px;
}

.aui-marketing-label_desktop::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  border: 2px solid transparent;
}

.aui-marketing-label_desktop.aui-marketing-label_green-dark-20::after {
  border-top: 2px solid var(--green-d20);
  border-right: 2px solid var(--green-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_red-dark-10::after {
  border-top: 2px solid var(--red-d10);
  border-right: 2px solid var(--red-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-dark-10::after {
  border-top: 2px solid var(--orange-d10);
  border-right: 2px solid var(--orange-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_purple-dark-20::after {
  border-top: 2px solid var(--purple-d20);
  border-right: 2px solid var(--purple-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-dark-10::after {
  border-top: 2px solid var(--blue-d10);
  border-right: 2px solid var(--blue-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_pink::after {
  border-top: 2px solid var(--pink);
  border-right: 2px solid var(--pink);
}

.aui-marketing-label_desktop.aui-marketing-label_lilac::after {
  border-top: 2px solid var(--lilac);
  border-right: 2px solid var(--lilac);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-d102::after {
  border-top: 2px solid var(--orange-d102);
  border-right: 2px solid var(--orange-d102);
}

.aui-marketing-label_desktop.aui-marketing-label_red-d102::after {
  border-top: 2px solid var(--red-d102);
  border-right: 2px solid var(--red-d102);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-d101::after {
  border-top: 2px solid var(--orange-d101);
  border-right: 2px solid var(--orange-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_amber-d101::after {
  border-top: 2px solid var(--amber-d101);
  border-right: 2px solid var(--amber-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-d101::after {
  border-top: 2px solid var(--blue-d101);
  border-right: 2px solid var(--blue-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_purple-d101::after {
  border-top: 2px solid var(--purple-d101);
  border-right: 2px solid var(--purple-d101);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-d102::after {
  border-top: 2px solid var(--blue-d102);
  border-right: 2px solid var(--blue-d102);
}

.aui-marketing-label_desktop.aui-marketing-label_green-d202::after {
  border-top: 2px solid var(--green-d202);
  border-right: 2px solid var(--green-d202);
}

.aui-marketing-label_mobile {
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.aui-marketing-label_mobile_item-card-item,
.aui-marketing-label_mobile_listing-item {
  border-radius: 4px;
}

.aui-marketing-label_mobile_item-card-item {
  font-size: 14px;
  min-height: 20px;
  line-height: 1.1;
}

.aui-marketing-label_mobile_listing-item {
  padding: 1.5px 4px;
  font-size: 11px;
  line-height: 1; 
}

.aui-marketing-label_rating-desktop {
  padding: 2px 0;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
  width: 25px;
}

.aui-marketing-label_rating-mobile {
  padding: 0px;
  font-size: 12px;
  line-height: 14px;
}

.aui-marketing-label_rating-mobile_green-dark-20 {
  color: var(--green-d20);
}

.aui-marketing-label_rating-mobile_orange {
  color: var(--orange);
}

.aui-marketing-label_rating-mobile_amber {
  color: var(--amber);
}

.aui-marketing-label_discount {
  padding: 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
}

