.aui-marketing-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
  color: var(--white);
  box-sizing: border-box;
}

.aui-marketing-label_green {
  background-color: var(--green-d20);
}

.aui-marketing-label_red {
  background-color: var(--red-d10);
}

.aui-marketing-label_orange-dark {
  background-color: var(--orange-d10);
}

.aui-marketing-label_purple {
  background-color: var(--purple-d20);
}

.aui-marketing-label_blue {
  background-color: var(--blue-d10);
}

.aui-marketing-label_blue-light {
  background-color: var(--blue-l20);
}

.aui-marketing-label_orange {
  background-color: var(--orange);
}

.aui-marketing-label_transparent {
  opacity: .75;
}


.aui-marketing-label_desktop {
    position: relative;
    padding: 4px 8px;
    border-radius: 4px 4px 4px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    height: 24px;
}

.aui-marketing-label_desktop::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    border: 2px solid transparent;
}

.aui-marketing-label_desktop.aui-marketing-label_green::after {
    border-top: 2px solid var(--green-d20);
    border-right: 2px solid var(--green-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_red::after {
    border-top: 2px solid var(--red-d10);
    border-right: 2px solid var(--red-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-dark::after {
    border-top: 2px solid var(--orange-d10);
    border-right: 2px solid var(--orange-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_purple::after {
    border-top: 2px solid var(--purple-d20);
    border-right: 2px solid var(--purple-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_blue::after {
    border-top: 2px solid var(--blue-d10);
    border-right: 2px solid var(--blue-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange::after {
    border-top: 2px solid var(--orange);
    border-right: 2px solid var(--orange);
}

.aui-marketing-label_mobile {
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    height: 16px;
}

