.aui-marketing-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial';
  color: var(--white);
  box-sizing: border-box;
}

.aui-marketing-label_green-dark-20 {
  background-color: var(--green-d20);
}

.aui-marketing-label_red-dark-10 {
  background-color: var(--red-d10);
}

.aui-marketing-label_orange-dark-10 {
  background-color: var(--orange-d10);
}

.aui-marketing-label_purple-dark-20 {
  background-color: var(--purple-d20);
}

.aui-marketing-label_blue-dark-10 {
  background-color: var(--blue-d10);
}

.aui-marketing-label_blue-light-20 {
  background-color: var(--blue-l20);
}

.aui-marketing-label_orange {
  background-color: var(--orange);
}

.aui-marketing-label_amber {
  background-color: var(--amber);
}

.aui-marketing-label_transparent {
  opacity: 0.75;
}

.aui-marketing-label_red {
  background-color: var(--red);
}

.aui-marketing-label_red-dark-15 {
  background-color: var(--red-d15);
}

.aui-marketing-label_green-dark-10 {
  background-color: var(--green-d10);
}

.aui-marketing-label_purple {
  background-color: var(--purple);
}

.aui-marketing-label_blue {
  background-color: var(--blue);
}

.aui-marketing-label_desktop {
  position: relative;
  padding: 4px 8px;
  border-radius: 4px 4px 4px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  height: 24px;
}

.aui-marketing-label_desktop::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  border: 2px solid transparent;
}

.aui-marketing-label_desktop.aui-marketing-label_green-dark-20::after {
  border-top: 2px solid var(--green-d20);
  border-right: 2px solid var(--green-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_red-dark-10::after {
  border-top: 2px solid var(--red-d10);
  border-right: 2px solid var(--red-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange-dark-10::after {
  border-top: 2px solid var(--orange-d10);
  border-right: 2px solid var(--orange-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_purple-dark-20::after {
  border-top: 2px solid var(--purple-d20);
  border-right: 2px solid var(--purple-d20);
}

.aui-marketing-label_desktop.aui-marketing-label_blue-dark-10::after {
  border-top: 2px solid var(--blue-d10);
  border-right: 2px solid var(--blue-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_orange::after {
  border-top: 2px solid var(--orange);
  border-right: 2px solid var(--orange);
}

.aui-marketing-label_desktop.aui-marketing-label_red::after {
  border-top: 2px solid var(--red);
  border-right: 2px solid var(--red);
}

.aui-marketing-label_desktop.aui-marketing-label_red-dark-15::after {
  border-top: 2px solid var(--red-d15);
  border-right: 2px solid var(--red-d15);
}

.aui-marketing-label_desktop.aui-marketing-label_green-dark-10::after {
  border-top: 2px solid var(--green-d10);
  border-right: 2px solid var(--green-d10);
}

.aui-marketing-label_desktop.aui-marketing-label_blue::after {
  border-top: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
}

.aui-marketing-label_desktop.aui-marketing-label_purple::after {
  border-top: 2px solid var(--purple);
  border-right: 2px solid var(--purple);
}

.aui-marketing-label_mobile {
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  height: 16px;
}

.aui-marketing-label_rating-desktop {
  padding: 2px 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
}

.aui-marketing-label_rating-mobile {
  padding: 0px;
  font-size: 12px;
  line-height: 14px;
}

.aui-marketing-label_rating-mobile_green-dark-20 {
  color: var(--green-d20);
}

.aui-marketing-label_rating-mobile_orange {
  color: var(--orange);
}

.aui-marketing-label_rating-mobile_amber {
  color: var(--amber);
}

.aui-marketing-label_discount {
  padding: 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 4px;
}

