.aui-popup-hint:after {
  position: absolute;
  max-width: 228px;
  padding: var(--indent-s);
  top: 100%;
  left: -75%;
  color: var(--white);
  background: var(--medium-dark);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  z-index: 1;
}
.aui-popup-hint:hover:after {
  content: attr(data-popup-hint);
}

