.aui-popup-hint {
  position: relative;
  cursor: pointer;
}

.aui-popup-hint:after {
  position: absolute;
  max-width: 228px;
  padding: 12px;
  top: 100%;
  left: -75%;
  color: #fff;
  background: #424b5e;
  box-shadow: 0 0 9px rgba(0, 0, 0, .1);
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  z-index: 1;
}
.aui-popup-hint:hover:after {
  content: attr(data-popup-hint);
}

.aui-popup-hint_with-icon { display: inline-block; }
.aui-popup-hint_with-icon:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #5e7491;
  -webkit-mask-box-image: url(d1af00103640e43844b0db55dbb1814c.svg);
  mask-image: url(d1af00103640e43844b0db55dbb1814c.svg);
}

.aui-popup-hint_width_static:after {
  width: 228px;
  box-sizing: border-box;
}

.aui-popup-hint_position_right:after {
  left: auto;
  right: 0;
}

.aui-popup-hint_position_center:after {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .aui-popup-hint_adaptive { position: static; }
  .aui-popup-hint_adaptive:after {
    top: auto;
    margin-top: 20px;
  }
}

.aui-popup-hint:after {
  padding: var(--indent-s);
  color: var(--white);
  background: var(--medium-dark);
  z-index: 1;
}

.aui-popup-hint_width_static:after {
  width: 228px;
  box-sizing: border-box;
}

.aui-popup-hint_position_right:after {
  left: auto;
  right: 0;
}

.aui-popup-hint_position_center:after {
  left: 50%;
  transform: translateX(-50%);
}

