.aui-selectric .selectric { background: #fff; }

.aui-selectric .selectric,
.aui-selectric .selectric-hover .selectric,
.aui-selectric .selectric-focus .selectric,
.aui-selectric .selectric-open .selectric {
  border-color: #dde1ed;
}
.aui-selectric .selectric .label,
.aui-selectric .selectric .button {
  height: 46px;
  line-height: 48px;
  color: #a2a9b4;
  box-sizing: border-box;
}
.aui-selectric .selectric .button:after,
.selectric-hover .aui-selectric .selectric .button:after {
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border: 1px solid #a2a9b4;
  border-top: 0;
  border-left: 0;
}
.aui-selectric .selectric .label {
  font-size: 14px;
  font-weight: normal;
  color: #424b5e;
  margin: 0 48px 0 12px;
}
.aui-selectric .selectric .button {
  width: 47px;
  background: #fff;
  border-left: 1px solid #dde1ed;
}
.aui-selectric .selectric .button:hover {
  background: #f2f4f7 !important;
}
.aui-selectric .selectric .button:hover:after {
  border-color: #5e7491;
}
.aui-selectric .selectric-items {
  border-color: #dde1ed;
  background: #fff;
  outline: none;
}
.aui-selectric .selectric-items li {
  color: #424b5e;
  padding: 12px 24px;
  font-size: 14px;
}
.aui-selectric .selectric-items li:hover {
  background: #f2f4f7;
}

.aui-selectric .selectric-group-label {
  padding: 12px 24px;
}

.aui-selectric .selectric { background: var(--white); }

.aui-selectric .selectric,
.aui-selectric .selectric-hover .selectric,
.aui-selectric .selectric-focus .selectric,
.aui-selectric .selectric-open .selectric { border-color: var(--medium-gray); }

.aui-selectric .selectric .label,
.aui-selectric .selectric .button {
  line-height: var(--indent-xl);
  color: var(--extra-light-dark);
}

.aui-selectric .selectric .button:after,
.selectric-hover .aui-selectric .selectric .button:after { border-color: var(--extra-light-dark); }

.aui-selectric .selectric .label {
  color: var(--medium-dark);
  margin: 0 var(--indent-xl) 0 var(--indent-s);
}

.aui-selectric .selectric .button {
  background: var(--white);
  border-left: 1px solid var(--medium-gray);
}

.aui-selectric .selectric .button:hover { background: var(--light-gray) !important; }

.aui-selectric .selectric .button:hover:after { border-color: var(--light-blue-dark); }

.aui-selectric .selectric-items {
  border-color: var(--medium-gray);
  background: var(--white);
}

.aui-selectric .selectric-items li {
  color: var(--medium-dark);
  padding: var(--indent-s) var(--indent-m);
}

.aui-selectric .selectric-items li:hover { background: var(--light-gray); }

.aui-selectric .selectric-group-label { padding: var(--indent-s) var(--indent-m); }

.aui-selectric_thin .selectric { border-radius: 3px; }

.aui-selectric_thin .selectric .label,
.aui-selectric_thin .selectric .button {
  line-height: var(--indent-l);
  height: var(--indent-l);
  color: var(--medium-dark);
}

.aui-selectric_thin .selectric .label { margin: 0 var(--indent-m) 0 var(--indent-s); }

.aui-selectric_thin .selectric .button { width: var(--indent-l); }

.aui-selectric_thin .selectric .button:after,
.aui-selectric_thin .selectric .button:hover:after {
  border-width: 2px;
}

.aui-selectric_thin .selectric-items li {
  padding: 6px var(--indent-s);
  font-size: 14px;
}

.aui-selectric_thin .selectric-group-label { padding: var(--indent-s) var(--indent-m); }

