.social-networks {
  width: max-content;
  background: var(--d2021-gray);
  border-radius: 8px;
  display: flex;
  margin: 0 auto;
}

.social-networks__item {
  display: block;
  width: 32px; 
  height: 32px; 
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
.social-networks__item:last-child {
  margin-right: 9px;
}
.social-networks__item_vk {
  background: url(c5f8c8742944a0fde9567d5f4373be2d.svg) center center no-repeat;
  background-size: 50%;
}
.social-networks__item_odnoklassniki {
  background: url(37a2b5628976394c0b6051daec200ca1.svg) center center no-repeat; 
  background-size: 32%;    
}
.social-networks__item_fb {
  background: url(d03a4bc6742a01602d7cc3573c235f54.svg) center center no-repeat; 
  background-size: 25%;
}
.social-networks__item_instagram {
  background: url(ead2a080116e473a8fa6ebaf21a3d7e3.svg) center center no-repeat;
  background-size: 45%; 
}
.social-networks__item_telegram {
  background: url(e1be34c6d4d7efb3aa76ee1a94326a40.svg) center center no-repeat; 
  background-size: 45%;
}
.social-networks__item_yandex-zen {
  background: url(25c6f47b8142c8fe05a774fcca5628ea.svg) center center no-repeat; 
  background-size: 30%;
}
.social-networks__item_pinterest {
  background: url(7e845eb265e1eefe59d2ee360c6f0190.svg) center center no-repeat;
  background-size: 45%;
}
.social-networks__item_web {
  background: url(016e9195a1ad189b9b8f3724e4b9ec53.svg) no-repeat;
  background-size: 57%;
  background-position: 60% 60%;
}

.social-networks__item:hover {
  background-color: #e2e2e2;
}
.social-networks_small .social-networks {
  width: 260px;
}
.social-networks_small .social-networks__item {
  width: 28px;
  height: 28px;
  margin-left: 8px;
}

.social-networks_old .social-networks {
  width: 100%;
  background: 0;
  border-radius: 0;
  display: flex;
}

.social-networks_old .social-networks__item {
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 3px;
  border-radius: 100%;
  background: var(--d2021-black);
  text-decoration: none;
}
.social-networks_old .social-networks__item_vk {
  background: url(a9ddd93cf623826d68fb6856c2d6a8f9.svg) 42% var(--d2021-black) no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_odnoklassniki {
  background: url(c25f002029daaa09db37d7b38cef4abb.svg) 50% var(--d2021-black) no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_fb {
  background: url(6a409234c30b01ae67fc96ae3e3e7a90.svg) 50% var(--d2021-black) no-repeat;
  background-size: 70%;
}
.social-networks_old .social-networks__item_instagram {
  background: url(d6c37e2750a0a3be658393877d0c1904.svg) 50% var(--d2021-white) no-repeat;
}
.social-networks_old .social-networks__item_youtube {
  background: url(499587f3d7e8635aff91cf74b52edb26.svg) 50% var(--d2021-white) no-repeat;
}
.social-networks_old .social-networks__item_telegram {
  background: url(c5e32130459779649899ca5ce56f257d.svg) 50% var(--d2021-white) no-repeat;
}
.social-networks_old .social-networks__item_yandex-zen {
  background: url(82a4fe94f5feade9185b31b01d439f1f.svg) var(--d2021-black) no-repeat;
  background-size: 100%;
}
.social-networks_old .social-networks__item_pinterest {
  background: url(7e845eb265e1eefe59d2ee360c6f0190.svg) var(--d2021-black) no-repeat;
  background-size: 100%;
}

.social-networks_old .social-networks__item_vk:hover { background-color: var(--red); }
.social-networks_old .social-networks__item_odnoklassniki:hover { background-color: var(--red); }
.social-networks_old .social-networks__item_fb:hover { background-color: var(--red); }
.social-networks_old .social-networks__item_instagram:hover { background-image: url(001529df77b0971d4362eeff331c3371.svg); }
.social-networks_old .social-networks__item_youtube:hover { background-image: url(9757e151e679aff796c04192965b35ab.svg); }
.social-networks_old .social-networks__item_telegram:hover { background-image: url(758260f22e51ca51992e4665cf6547c4.svg); }
.social-networks_old .social-networks__item_yandex-zen:hover { background-image: url(60d5f67c8a82ff7cb795f1f5f547e682.svg); }
.social-networks_old .social-networks__item_pinterest:hover { background: url(d5c5b5ea546e601f1b9d088c3246587d.svg) transparent; }

.social-networks_expert {
  margin: 0 0 0 -10px;
  border-radius: 0;
}

