.aui-spinner .ui-spinner { display: block; position: relative; }
.aui-spinner__input {
  width: 100%;
  padding-right: 98px;
  box-sizing: border-box;
}
.aui-spinner .aui-spinner__input,
.aui-spinner .ui-spinner-button {
  height: 48px;
  border: 1px #dde1ed solid;
  outline: none;
  color: #424b5e;
}
.aui-spinner .ui-spinner-button {
  width: 48px;
  line-height: 46px;
  border-radius: 0;
  border-color: #dde1ed !important;
  background: none !important;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  margin: 0;
}
.aui-spinner .ui-spinner-button:hover {
  background: #f2f4f7 !important;
}
.aui-spinner .ui-spinner-button.ui-spinner-down {
  right: 47px;
}
.aui-spinner .ui-spinner-button.ui-spinner-down .ui-icon:before {
  content: '–';
  display: block;
}
.aui-spinner .ui-spinner-button.ui-spinner-up {
  right: 0;
}

.aui-spinner .ui-spinner-button.ui-spinner-up .ui-icon:before {
  content: '+';
  display: block;
}

.aui-spinner .ui-spinner-button .ui-button-text {
  display: inline-block;
  padding: 0;
  line-height: 0;
}
.aui-spinner .ui-spinner-button .ui-icon {
  display: inline-block;
  vertical-align: middle;
  background: none;
  text-indent: 0;
  line-height: 16px;
  font-size: 15px;
  font-weight: bold;
  color: #a2a9b4;
}
.aui-spinner .ui-spinner-button:hover .ui-icon {
  color: #5e7491;
}
.aui-spinner_error .ui-spinner { border: 1px solid #ea5757; }
